[2015-05-08 06:28] jonaswindey opened #1 "Sass partial should start with underscore"
I'm using sass-loader 1.x (webpack) and get the following error:

[code]

According to the specs, sass @imports should start with an underscore, so I would suggest you rename ImageGallery.scss to _ImageGallery.scss since it's a partial.

[2015-05-08 06:35] jonaswindey opened #2 "Cannot find module 'react/addons'"
When I
```var ImageGallery = require('react-image-gallery');```
I get: Cannot find module 'react/addons'

I have to require the whole src path like this:
```var ImageGallery = require('react-image-gallery/src/ImageGallery.react.jsx');```
To get it to work.

[2015-05-08 13:59] linxtion commented on #2
Thats odd, what version of react are you using? I will try to replicate it.

[2015-05-08 15:47] linxtion commented on #1
Its weird that sass-loader tries to assume a partial. Partials don't really have anything to do with imports, they're used to distinguished if it should be generated into a css file or not.

[2015-05-11 21:41] #1 closed

[2015-05-19 11:26] edoloughlin commented on #2
I'm seeing this with react-0.13.3.

[2015-05-19 18:23] linxtion commented on #2
Thanks, I will look into it, along with other fixes I plan to release later this week.

[2015-05-21 04:16] abhilashsajeev opened #3 "Add swipe support"
It will be great if the thumbnails section have a smoother swipe support.

[2015-05-25 03:26] linxtion commented on #2
I can't seem to replicate this. I've tried installing react-0.13.3 and react-image-gallery on a fresh build and it worked fine. Can you replicate this using a new build (just react + react-image-gallery)?

[2015-05-26 02:32] linxtion commented on #3
I plan to add swipe support for the slides soon.

[2015-05-26 03:13] abhilashsajeev commented on #3
Cool. I am looking forward to it.

[2015-06-06 22:08] linxtion commented on #3
@abhilashsajeev release 0.4.1 adds simple swipe support for the Slides.

[2015-06-06 22:08] #3 closed

[2015-06-07 14:33] abhilashsajeev opened #4 "Enhancement: Add vertical swipe mode"
It would be nice to have a vertical mode here , similar to nuka-carousel  and can be selected by using props.

[2015-06-08 03:49] abhilashsajeev opened #5 "Enhancement : Swipe support to Thumbnail section"
The new swipe system is good. I have suggestion to include swipe support for the thumbnail section also.

[2015-06-08 04:01] abhilashsajeev commented on #3
Yeah. I see that. Thanks @linxtion

[2015-08-12 15:46] rblakeley commented on #2
getting the same error with react-0.12.1

[2015-08-12 16:19] linxtion commented on #2
That is a warning, and related to webpack it seems. If you like feel free to open a PR for a fix.

[2015-08-12 16:19] #2 closed

[2015-08-12 17:38] rblakeley commented on #2
The second part was just supplemental info for the primary issue, this warning:
[code]

It's an error that is causing failure with the Gallery.

[2015-08-14 20:21] linxtion commented on #2
@rblakeley I've remove `react/addons` from the build and released 0.4.2.

[2015-08-16 15:00] rblakeley commented on #2
@linxtion cheers

[2015-09-08 16:41] linxtion commented on #5
Supporting thumbnail swipe is probably not a good idea, as it is adjusted every time the image changes.

[2015-09-08 16:41] #5 closed

[2015-09-08 16:45] linxtion commented on #4
Gestures like vertical swipe usually relates to scrolling. I want to keep this component light-weight, and keep it as a horizontal (carousel) image slider, not a vertical image slider.

[2015-09-08 16:45] #4 closed

[2015-10-05 01:39] codematix opened #11 "Support for fallback images if image not loaded"
It would be great if the gallery would support fallback images for both active and thumbnail images in case any of them fail to load. Like:

[code]

[2015-10-05 04:07] codematix opened #12 "Add support for initial image"
Support an initial image attribute which displays the image at the specified index initially when the gallery component is mounted.

Below example, loads the 3rd image initially
[code]

[2015-10-14 09:02] bobiblazeski opened #15 "React 0.14.0 warning"
Since I switched to React v0.14.0 I get fallowing warnings:

Warning: ImageGallery.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead.warning @ main.js:2231
main.js:2231 Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `ImageGallery`.

[2015-10-14 14:01] linxtion commented on #15
@bobiblazeski fixed with version 0.4.5 of react-image-gallery

[2015-10-14 14:01] #15 closed

[2015-10-14 15:30] bobiblazeski commented on #15
Warning is gone, many thanks.

[2015-10-15 18:23] bobiblazeski opened #17 "Don't show arrows (Feature request)"
It would be great to be able to control showing navigation arrows, the same way that now I could decide showing the bullets and thumbnails with showBullets and showThumbnails.

[2015-10-16 16:37] #12 closed

[2015-10-18 08:23] linxtion commented on #17
@bobiblazeski release `0.4.6` has a new prop called `showNav`

[2015-10-18 08:23] #17 closed

[2015-10-19 13:15] bobiblazeski commented on #17
Works great, thank you.

[2015-11-10 19:58] htmelvis opened #18 "Cannot Get Property Length"
I've noticed that I was receiving this error with react 0.13.3 :
```Uncaught TypeError: Cannot read property 'length' of undefined```

I realized that it was not correctly getting the thumbnail count from this portion of the code:

[code]

In turn I updated :

``` var totalThumbnails = thumbNode.children.length``` TO: ``` var totalThumbnails = thumbNode.props.children.length```

This solves my iss

[2015-11-13 22:56] linxtion commented on #18
@htmelvis this is now fixed in `v0.5.0` of `react-image-gallery`

[2015-11-13 22:56] #18 closed

[2015-11-14 01:45] aflanagan opened #21 "npm package broken"
I believe the 0.4.9 and 0.5.0 releases are broken because your package.json `main` key points to `./build/image-gallery` which was removed when you bumped to 0.4.9

[2015-11-14 02:07] linxtion commented on #21
please use 0.5.0, 0.4.9 is broken.

[2015-11-14 02:09] linxtion commented on #21
I added .npmignore in `v0.5.0` so the build files will be included.

[2015-11-14 02:09] #21 closed

[2015-11-14 02:15] linxtion commented on #21
I've also unpublished `v0.4.9` as it is completely broken

[2015-11-14 03:39] aflanagan commented on #21
Got it. Fwiw, if you had bumped to 0.4.10 instead of rolling to 0.5.0 it
would have allowed anyone who was allowing bumps on the point release to
automatically update.
On Fri, Nov 13, 2015 at 6:15 PM Xiao Lin <notifications@github.com> wrote:

[2015-11-14 04:10] linxtion commented on #21
That's very true. Totally did a panic count :)

[2015-11-18 19:17] orporan opened #22 "Can you please make this package available by bower"

[2015-11-24 00:47] cynthia-pm opened #23 "Could you please check this issue?"
Warning: ReactDOMComponent: Do not access .props of a DOM node; instead, recreate the props as `render` did originally or read the DOM properties/attributes directly from this node (e.g., this.refs.box.className). This DOM node was rendered by `ImageGallery`.

[2015-11-24 00:56] linxtion commented on #23
This issue is caused by #18, I'll look into it.

[2015-11-24 01:02] cynthia-pm commented on #23
Could you try to change t to let totalThumbnails = thumbNode.children.length; ?

[2015-11-24 01:10] linxtion commented on #23
That would solve it, but it would break #18 again, so I'm looking into a way so both can work.

[2015-11-24 01:32] linxtion commented on #23
Alright, so it seems I can't support both versions. I will apply what you mentioned, and the warning message should go away.

[2015-11-24 01:39] linxtion commented on #23
0.5.1 fixes the issue. Thanks for reporting it.

[2015-11-24 01:39] #23 closed

[2015-11-24 01:40] cynthia-pm commented on #23
Thanks

[2015-11-24 18:16] htmelvis commented on #18
Yes, this fixes the error thank you!

[2015-12-21 14:24] msn0 opened #24 "Opacity-based transitions doesn't work when lazyLoad=true"
Switching between nonadjacent images is not smooth. Transitions based on opacity doesn't work because(?) elements are re-rendered thus removed and placed once again in the DOM. Consider ReactCSSTransitionGroup or @keyframes as a solution.

[2015-12-21 17:02] linxtion commented on #24
I will take a look at this, sometime this week.

[2015-12-24 06:32] frostymarvelous opened #25 "Can I handle Clicks"
I need to open links when image or description is clicked.
Is there anyway to do this?

[2015-12-24 19:56] linxtion commented on #25
I will be adding a way to add `href` to each slide so that it is clickable. Will update you once I release it.

[2015-12-25 11:44] frostymarvelous commented on #25
Great. but one thing. If you use hrefs, that limits some of us.
eg, I use React-Router which uses Link components to use the HTML5 history api.

Do you think you could,

1. give us a click callback
2. allow us to prove the markup, it could be an image or an image wrapped in an href.

more flexibility to enable us to do more stuff with it.
Thanks.

[2015-12-25 19:19] linxtion commented on #25
I see what you mean, let me think about it a bit. Thanks.

[2015-12-29 23:50] linxtion commented on #24
@msn0 this is now fixed in v0.5.3

[2015-12-29 23:50] #24 closed

[2015-12-30 00:01] linxtion commented on #25
@frostymarvelous I've released `v0.5.3` which will allow you to provide a `onClick` function prop to `ImageGallery`. This should solve your issue with opening links when an image is clicked.

I don't think allowing custom html injected slides is a good idea at this moment, but I'm open to suggestions if have a clean solution.

[2015-12-30 00:01] #25 closed

[2015-12-30 00:03] frostymarvelous commented on #25
Great! I was really waiting for this.
Have a feature to deliver by tomorrow morning.

I will try to do something when I have some time.

[2016-01-07 07:18] Hendrik opened #29 "npm build folder still uses 0.5.3 JS code"
I just noticed that the latest npm package uses the updated JS code in the src/ folder, but the build/ folder still contains the previous version's code.

[2016-01-07 15:45] linxtion commented on #29
thats odd, ill take a look.

[2016-01-07 20:10] linxtion commented on #29
Build mishap, thanks for catching it. I've released `v0.5.5` which includes your latest pr.

[2016-01-07 20:10] #29 closed

[2016-01-16 02:14] linxtion commented on #11
Released in 0.5.6 thanks to #30

[2016-01-16 02:14] #11 closed

[2016-01-27 13:04] jwest opened #35 "Can you please release new version with alt in images"
I waiting for new version from master branch with alts in images. Please release new version ;)

[2016-01-27 15:04] linxtion commented on #35
@jwest released v0.5.7 with addition of alts :)

[2016-01-27 15:04] #35 closed

[2016-01-28 08:51] jwest commented on #35
thx! :+1:

[2016-02-03 23:14] Hendrik opened #36 "Auto-detect props.items changes"
At the moment, changing `props.items` won't reset `state.currentIndex` automatically, so that `props.items` changes can result in a broken image. The current workaround is to use `slideToIndex` to reset the currentIndex back to the correct start position on `props.items` changes.

It's possible to auto-detect `props.items` changes by comparing the current and next `props.items` arrays. However, th

[2016-02-07 01:35] linxtion commented on #36
@Hendrik Thanks for sharing. I did some thinking, and realize this function might fix one issue, but break another.

For example, If you decides to change other properties in `items` that are not image src related, e.g. `description`, `originalClass` or `thumbnailClass`, the index reset would be a bad side effect.

I think for this specific issue using `slideToIndex` after you manipulated the `ite

[2016-02-09 19:18] Hendrik commented on #36
No problem.
I'll close this issue then.

[2016-02-09 19:18] #36 closed

[2016-02-22 19:16] texaspacm opened #38 "Responsive Images"
Is there a way to load different sized images based on the view port.

I.e. Not have the client download the high-res when they are on a phone.

Thanks

[2016-02-22 19:19] xiaolin commented on #38
You could have that logic when you generate the items object e.g.

[code]

[2016-02-23 22:19] grsabreu opened #39 "It should check if a `onClick` handle was passed or not before calling it"
Is just a minor bug, it isn't something to really worry about.
https://github.com/xiaolin/react-image-gallery/blob/master/src/ImageGallery.react.jsx#L157

[2016-02-25 11:30] jossi87 opened #40 "Property to disable slide on onMouseOver and onMouseLeave"
Hover on thumbnail will cause the image to change (this.slideToIndex(index)).
Is it possible to add a property to disable this feature?
The blue frame on hovering is okay, but I don't want slideToIndex to be executed.

[2016-02-26 01:02] xiaolin commented on #40
@jossi87 I'll release a version this weekend that will have an option to disable that. Will keep you posted!

[2016-02-26 09:16] jossi87 commented on #40
Perfect!

[2016-02-27 16:42] xiaolin commented on #39
what do you mean by "`onClick` handle was passed "?

[2016-02-27 16:47] xiaolin commented on #39
I see the error you're talking about :D

[2016-02-27 16:47] xiaolin commented on #39
Will fix. Thanks

[2016-02-27 17:26] xiaolin commented on #39
fixed in v0.5.10

[2016-02-27 17:26] #39 closed

[2016-02-27 17:29] xiaolin commented on #40
@jossi87 released 0.5.10 with `slideOnThumbnailHover` prop set to false by default.

[2016-02-27 17:29] #40 closed

[2016-02-28 04:06] grsabreu commented on #39
Awesome!

[2016-02-28 04:24] xiaolin commented on #22
Sorry I can't maintain two packages at this moment. Feel free to take it and create one :)

[2016-02-28 04:24] #22 closed

[2016-02-28 04:25] xiaolin commented on #38
Closing this, feel free to reopen if you have further questions.

[2016-02-28 04:25] #38 closed

[2016-03-22 09:55] Stevearzh opened #41 "Cannot set property '_preventGhostClick' of null (in _touchEnd method)"
Using this plugin on a touch supported device will get this bug, on the line:

with react 0.14.0 and react-image-gallery 0.5.11. My config file is kind like the example file:

I use the react developer tool to detect the "showNav" state, this is mine:

![](http://i.imgur.com/TP0ydZI.png?1)

and this is the demo's:

![](http://i.imgur.com/gVrSP2R.png?1)

seemed I missed some steps, the bind method

[2016-03-22 15:11] xiaolin commented on #41
I think I know whats going on
all `onTouchEnd={this._touchEnd}` should be `onTouchEnd={this._touchEnd.bind(this)}` in the code

I will create a fix for this tonight, and release it.

[2016-03-23 03:10] xiaolin commented on #41
@Stevearzh fixed on v0.5.12

[2016-03-23 03:10] #41 closed

[2016-03-23 04:18] Stevearzh commented on #41
Awesome, thank you! 👍

[2016-04-19 08:27] msn0 opened #46 "currentIndex not set when received new props"
Hi,

I noticed the following code has been removed some time ago

[code]

Right now, when new props arrive, currentIndex stays as before. Hence when `nextProps` has more items than before, the gallery shows no image. I guess `currentIndex` should be reset in this case or is there some other way to do it right now?

[2016-04-19 15:45] xiaolin commented on #46
Hi, this was discussed in issue #36

The solution is using the `slideToIndex` function

You can do so by adding a ref to the ImageGallery component

e.g.

[code]

[2016-04-19 18:10] msn0 commented on #46
Thanks, I did as you say and works perfectly. Thanks ;)

[2016-04-19 18:10] #46 closed

[2016-04-21 05:57] whupanglong opened #47 "can not load image-gallery.css"
how?
import react-image-gallery like the instruction, but no css loaded, I found those in file image-gallery.css

[2016-04-21 13:46] xiaolin commented on #47
If you are using scss, then you can use the import feature
`@import "../node_modules/react-image-gallery/src/ImageGallery";`

otherwise if you are using css, you can just copy paste the contents of image-gallery.css  located in `node_modules/react-image-gallery/build/image-gallery.css `into your project directory and include it in your index.html.
`<link rel="stylesheet" href="myproject/css/image-

[2016-04-24 00:29] xiaolin commented on #47
I will mark this as closed, feel free to open if you have any other questions

[2016-04-24 00:29] #47 closed

[2016-04-29 21:44] tonyjmnz opened #48 "Image height affects component height"
My images have different sizes and when I'm scrolling through them, the height of the component changes. Is there a way to make the image viewport of a static height?

[2016-04-29 23:59] xiaolin commented on #48
If you want a static height you can add the extra css below to override the included css

[code]

Note, by setting a static height you remove the ability for the gallery to be fully responsive.
If you can resize all your images to a fixed width/height that would be ideal.

[2016-05-01 04:57] xiaolin commented on #48
closing feel free to open if you have further qestions

[2016-05-01 04:57] #48 closed

[2016-05-01 05:03] tonyjmnz commented on #48
Thanks for your help and for pointing out the downsides. Loving the
gallery!
On May 1, 2016 12:57 AM, "Xiao Lin" <notifications@github.com> wrote:

[2016-05-02 17:20] etshi opened #49 "Doesn't work as expected when images array length is 1"
First I would like to thank you for your work.

When I pass images as an array that contains only one object, the slider doesn't work as expected.
The div with class `image-gallery-slide` is translated by `transform: translate3d(-100%, 0px, 0px);`, leading the image to slide to the left and the slider displays nothing.

Is there a way to get this to work as expected by displaying the only image ?

[2016-05-03 14:39] tauseef-inbetween commented on #49
Facing same issue

[2016-05-12 01:50] xiaolin commented on #49
released 0.6.1

[2016-05-12 01:50] #49 closed

[2016-05-12 20:39] gaborluk opened #54 "Unexpected sliding direction in a 2-image gallery"
When the gallery only contains a total of 2 images, sliding direction is the opposite of what you would expect based on the order of the thumbnails. For example, when `image #1` is active, and you click `thumbnail #2`, you would expect that `image #1` slides out to the left, and `image #2` slides in from the right, however, it happens the other way around. Similarly, swiping left on `image #1` res

[2016-05-12 20:47] xiaolin commented on #54
I don't have much time this week, but maybe next week if its not already fixed, I can take a look at it.

[2016-05-13 08:41] sinkcup opened #55 "ReferenceError: document is not defined"
[code]

[2016-05-13 14:11] xiaolin commented on #55
This is odd, is this happening when you `import react-image-gallery`? Can you show more of the stack trace?

[2016-05-13 21:30] xiaolin commented on #55
@sinkcup
screenfull.js breaks server-side rendering, I will try to find some time to implement an isomorphic fullscreen solution

[2016-05-16 03:14] keyeh commented on #55
+1 to isomorphic rendering

[2016-05-17 02:13] sinkcup commented on #55
@xiaolin Thx! I am using fluxible server rending.

[2016-05-18 14:59] gaborluk opened #57 "Question: Is there a way to get my hands on the current index in the callback of onClick?"

[2016-05-18 15:20] xiaolin commented on #57
There is no clean solution I can think of.
We can modify the code to attach the currentIndex to the callback of onClick (someone can open a PR 😄 )

[2016-05-18 16:33] gaborluk commented on #57
Thanks for the reply, @xiaolin. I have the changeset for the latter locally, it's basically a `this.props.onClick.bind(this, currentIndex)`, however, this will not be backwards-compatible, as the first argument of the callback is now `currentIndex`, as opposed to `event`. Do you consider this a problem?

[2016-05-18 16:45] gaborluk opened #58 "onTouchStart results in unexpected behavior"
With [this line](https://github.com/xiaolin/react-image-gallery/blob/master/src/ImageGallery.jsx#L459) in place, merely scrolling past the image gallery with the scrolling finger touching the area of the gallery will result in the triggering of the custom `onClick` method, which, in turn, might do things like opening a larger image on a modal; a very unexpected behavior and frustrating user experi

[2016-05-18 16:59] xiaolin commented on #58
I see what you mean, but I'm not 100% sure its safe to remove. I think it was added from a PR.

[2016-05-18 17:01] xiaolin commented on #58
Its probably safe to remove.

[2016-05-18 17:11] gaborluk commented on #58
Cool, let me know your thoughts regarding https://github.com/xiaolin/react-image-gallery/issues/57, and I'll remove this line in the same PR.

[2016-05-18 17:56] xiaolin commented on #57
I will document it in the release, so it should be okay.

[2016-05-18 20:45] xiaolin commented on #57
@gaborluk Hey I'm curious why you need the currentIndex when an image is clicked?

[2016-05-18 21:02] gaborluk commented on #57
I want to open the current image on a large modal and allow zooming on user interaction. The full screen behavior that has been merged last week didn't quite work out for me, especially after discovering that Safari on iOS has no support for the feature yet.

[2016-05-18 21:07] xiaolin commented on #57
You can open the image in a modal using `event.target.src`, I'm not sure why you need the `currentIndex`?

[2016-05-18 21:23] gaborluk commented on #57
I'm using `srcset` and `sizes` on the image element to deliver optimally sized images to the client in an adaptive manner, and I'm generating the values of these attributes dynamically, based on a base URL, a file name, a file extension, and a rather large set of predefined pixel dimension suffixes (e.g., `_880x880`). So instead of stripping down the `event.target.src` string to its useful compone

[2016-05-18 21:30] gaborluk commented on #57
For what it's worth, a `data-index` attribute on the images would probably work just as well, if you'd prefer keeping the signature of the `onClick` callback intact.

[2016-05-18 21:31] xiaolin commented on #57
I only ask because as I was looking through #59 I realize its a bit awkward passing in `currentIndex` into all the onclick handler. This is my fault for suggesting that. What about adding a public function called `getCurrentIndex()` which will just return the current index?

[2016-05-18 21:42] gaborluk commented on #57
I totally get your point and it's a good one, a `getCurrentIndex()` is absolutely fine, too.

[2016-05-18 22:17] gaborluk commented on #57
I've updated the PR to use `getCurrentIndex()` instead of the modified signature. Don't merge yet, though – apparently there's an issue regarding the removal of `onTouchStart`. I should have known better than to handle two issues in one PR, but let's try and fix that one, too. I'll add my comment about it on https://github.com/xiaolin/react-image-gallery/issues/58.

[2016-05-18 22:19] xiaolin commented on #57
Cool, yeah I think I looked into it once, and maybe even tried to remove it myself, haha. I can't remember. It definitely needs a fix sooner or later.

Thanks!

[2016-05-18 22:24] gaborluk commented on #58
After removing `onTouchStart`, what I'm noticing is that continuously tapping on the image will only get the `onClick` handler to fire every few seconds. I'm guessing this has something to do with the `throttle` function, but that part is quite chaotic and I'm not sure if that's the culprit at all. Do you have any ideas of what might be causing this, @xiaolin?

[2016-05-18 22:29] gaborluk commented on #58
Indeed, if I remove `onTouchEnd` as well, `onClick` works consistently and as expected. What purpose is that guy meant to serve?

[2016-05-18 22:29] xiaolin commented on #58
throttle is only applied to the `_slideLeft` and `_slideRight` so it shouldn't be that.

So I think the problem is once you remove `onTouchStart`, the `onClick` function is wraped by `_wrapClick`, that function does some stuff to prevent ghost clicks, and thats probably why its getting delayed, and not working correctly.

[code]

[2016-05-18 22:31] xiaolin commented on #58
If I remember correctly `_touchEnd` and `touchStart` prevents ghostclicks #37

[2016-05-18 22:43] gaborluk commented on #58
Unfortunately, this changeset apparently doesn't work as intended, I'm not sure if the whole ghost click issue is worth dealing with if the solution involves relying on `touchstart` to provide `click` functionality, which results in unexpected actions taking place when scrolling on touch devices. To be honest, I don't have a complete understanding of what issue https://github.com/xiaolin/react-ima

[2016-05-18 23:51] xiaolin commented on #58
I will take a look into it.

[2016-05-19 00:33] xiaolin commented on #58
@gaborluk I've pushed a recent commit that should fix the onclick events firing on mobile swipes. Let me know if that works well.

[2016-05-19 00:34] grifotv opened #61 "is there a way to disable the arrow keys left/right?"

[2016-05-19 01:01] #61 closed

[2016-05-19 10:47] gaborluk commented on #58
Thanks, @xiaolin, it's a much better situation now as there is nothing firing when you scroll with your finger on the main image, however, other elements of the gallery (thumbnails, bullets, navigation) still react to `touchstart`. Which, of course, is by far not as big an issue since all these do is trigger a slide, but if it doesn't break anything else then I would recommend fixing these, too, b

[2016-05-20 14:31] xiaolin commented on #58
I purposely left the `touchStart` on the thumbnails, bullets, and navigation. Having them as onClick results in a delay on mobile devices. are you having issues swiping on those controls?

[2016-05-20 14:58] gaborluk commented on #58
No, scrolling happens properly regardless of being initiated on one of these elements or not, I was just commenting on the control handlers firing as a side-effect of scrolling, and not as an intended action in these cases. As I've said, this is a much less serious issue than the custom `onClick` handler firing on the main image's `touchstart`, ultimately you're juggling two similarly frustrating

[2016-05-20 15:02] xiaolin commented on #58
Ah, okay. I'm going to close this issue for now. Thanks!

[2016-05-20 15:02] #58 closed

[2016-05-20 15:02] #57 closed

[2016-05-21 13:39] chadoh commented on #55
In https://github.com/xiaolin/react-image-gallery/blob/master/src/ImageGallery.jsx#L150, you might be able to use `const ScreenFull = require('screenfull');` at the beginning of the `fullScreen()` function, rather than using `import` at the top level. Then `screenfull` will only be loaded one the user takes an action, which implies a browser environment.

[2016-05-27 23:25] xiaolin commented on #55
v0.6.3 released and fixes server side rendering.

I ended up just using https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API and removing screenful.js. This should do for modern browsers.

[2016-05-27 23:25] #55 closed

[2016-06-01 03:26] xiaolin commented on #54
#64 fixes desktop sliding directions when there are 2 images, but mobile swipe is weird, and not seamless. So keeping this open for now.

[2016-06-01 17:15] keustma commented on #54
Do you have an example what you mean with "not seamless"?
I tested this on mobile and it worked fine for me. Only what's not intuitive is if you swipe right on the last photo and it jumps to the right.

[2016-06-01 17:34] xiaolin commented on #54
Right, thats exactly it, the swipe is not continuous compared to when there are 3 or more images.

[2016-06-17 12:59] xueyongg opened #66 "Cannot find module 'babel-runtime/core-js/object/assign'"
I am using react 15.0.2, when i follow the instructions. I encountered an error on my console as seen in the title.

Please advise, thank you

[2016-06-18 15:13] xiaolin commented on #66
I'm unable to replicate this what version of npm and node are you using?

[2016-06-19 09:34] xueyongg commented on #66
The version i use is 0.6.3

Following the instructions from https://www.npmjs.com/package/react-image-gallery

Any advices to go about resolving this issue?

[2016-06-19 19:31] xiaolin commented on #66
I released version `0.6.4` which should solve your issue. Let me know if that works.

[2016-06-21 14:03] xiaolin commented on #66
@xueyongg I'm going to close this feel free to open if its still an issue.

[2016-06-21 14:03] #66 closed

[2016-06-28 01:08] Shobhit1 opened #67 "getCurrentIndex() returns 'not a function'"
Was trying getCurrentIndex() function and it keeps returning me `Uncaught TypeError: _this._imageGallery.getCurrentIndex is not a function`
I tried to console out `this._imageGallery` and i get the component but i dont see any open function with getCurrentIndex()

I am on version ^0.6.1

Console out of `this._imageGallery`

[2016-06-28 01:13] xiaolin commented on #67
`getCurrentIndex` was introduced in `v0.6.2`.

[2016-06-28 01:24] xiaolin commented on #67
@Shobhit1 closing this, feel free to open if you continue to have problems.

[2016-06-28 01:24] #67 closed

[2016-06-28 01:24] Shobhit1 commented on #67
Ok. Cool. Thanks for quick reply.

[2016-07-04 03:49] KevinChien opened #68 "About startIndex and onSlide event handler"
Hi @xiaolin,
     When I play image over than 15 items, and start index is last two item. the player will start in error index.
    Ex: I hope start index is 14, but final player start in 7 or 8. And I found the "onSlide" has been trigger twice. It will work as normal, when I play images with index 0~12( onSlide just trigger once when initial )
    After player initialized, it can work as normal(o

[2016-07-04 13:34] vinhtq opened #69 "How to set size for the gallery"
I see that the gallery will adjust size base on the image inside.
But if i want to adjust custom size how can i do that?

[2016-07-05 02:49] xiaolin commented on #68
How are you setting `this.state.currentIndex` maybe its updating `currentIndex` more than once?

I try to reproduce this by using the sample code and setting `startIndex={13}` and everything is working as expected.

[code]

[2016-07-05 03:14] xiaolin commented on #69
I'm not sure what you mean by this. Can you give an example?

[2016-07-05 03:45] vinhtq commented on #69
I have image size: 400x300
But the gallery auto adjust the size to 266x200 like the image here: http://imgur.com/crUoaDi

I check but there is not option for setting the width, height for the gallery. So how can I set the dimension for the gallery

[2016-07-06 01:51] vinhtq commented on #69
It works, thank you!

[2016-07-06 08:19] msmfsd opened #70 "Error loading build css on latest react/webpack versions"
Error is:
`ERROR in ./~/react-image-gallery/build/image-gallery.css
Module parse failed: .../node_modules/react-image-gallery/build/image-gallery.css Unexpected character '@' (1:0)`

If you remove:
`@charset "UTF-8";`
it works ok.

[2016-07-06 13:26] #69 closed

[2016-07-07 02:25] xiaolin commented on #70
How are you importing the css file?

Does this stackoverflow discussion help?

http://stackoverflow.com/questions/37369318/material-design-lite-with-react-and-webpack

[2016-07-07 05:15] msmfsd commented on #70
I had copied the file to my src directory and loading it with module loader for css set to
`style-loader!css-loader`

[2016-07-07 13:58] texate opened #71 "AutoScroll stops on android device after clicking on image"
First of all, the component is wonderful.
Easy to use example, good demo, all you need to know is documented.
Good job.
I used component like this:
[code]
On Android device automatic scrolling of images working fine until i touch the image itself (not the bullet).
If i touch the image i'll see onClick event and after that automatic scrolling is stop working.
[code]
Adding the code above solved the

[2016-07-08 13:27] xiaolin commented on #68
@KevinChien is this still an issue?

[2016-07-09 03:36] xiaolin commented on #71
The reason this is happening is because `onMouseOver` is being triggered when you click on the image. I can replicate this on a touched enabled browser. I have to think a bit on the right solution, this one is a bit tricky.

[2016-07-09 03:40] xiaolin commented on #70
`@charset "UTF-8"` is a w3 standard, this is definitely odd.

[2016-07-11 01:07] msmfsd commented on #70
Agreed that it is an odd error and could just be my config possibly. Am on OSX and my IDE sets all my css files to utf-8 so this is not a huge issue.

[2016-07-11 01:11] msmfsd opened #72 "React v15 throws 'Unknown props' Warning"
After upgrading react to 15.2.1 I get the following warning:

[code]
Warning references: [https://fb.me/react-unknown-prop](https://fb.me/react-unknown-prop)
See following issues:
[https://github.com/facebook/react/issues/7163](https://github.com/facebook/react/issues/7163)
[https://github.com/callemall/material-ui/issues/4594](https://github.com/callemall/material-ui/issues/4594)

[2016-07-11 21:54] xiaolin commented on #72
@msmfsd Thanks, I will take a look at this when I get a chance.

[2016-07-11 21:55] xiaolin commented on #68
Closing this, feel free to open again.

[2016-07-11 21:55] #68 closed

[2016-07-12 07:13] msn0 commented on #72
Above warnings relates to react-swipeable and should be fixed right now in `react-swipeable@3.5.1` https://github.com/dogfessional/react-swipeable/pull/44/files

These still remains:
[code]

and we are waiting for https://github.com/JedWatson/react-tappable/issues/79

[2016-07-12 14:05] msmfsd commented on #72
Thanks @msn0 the swipable update has removed all warnings from the console for me with no side effects. Cheers.

[2016-07-12 14:10] xiaolin commented on #72
Thanks, will bump up the version for react-swipeable on the dependencies.

[2016-07-13 00:43] xiaolin commented on #72
bumped react-swipeable to 3.5.1 in v0.6.5

[2016-07-13 00:43] #72 closed

[2016-07-20 06:35] texate commented on #54
@gaborluk @xiaolin is there any progress in fixing this issue? it would be great to deal with this weird 2images swipe on mobile devices. Thanks in advance.

[2016-07-21 01:05] xiaolin commented on #54
Been rather busy. I will try to get to this soon once I get some free time.

[2016-07-21 01:06] xiaolin commented on #70
Closing this.

[2016-07-21 01:06] #70 closed

[2016-07-21 19:21] oyeanuj opened #73 "Router support?"
Hi @xiaolin! Thank you for the component?

I am wondering what your thoughts are on adding router support, i.e. updating the url when navigating left to right?

[2016-07-22 02:41] xiaolin commented on #73
I'm not sure what the use case would be for adding a left/right to the route. Can you give me an example of how you would use it?

[2016-07-22 07:25] phoenixgao opened #74 "Is it possible to make the thumbnail list vertical, like, on the left or the right side?"
I've tried to use css to achieve this but the positions of the thumbnails seems to be calculated in javascript

[2016-07-22 21:32] msn0 commented on #74
We did it here https://allegro.de/produkte/monitor-34-um-cx1ee-001-c9393b46-597c-4713-a7f9-c7875ef8c1cf with only css.

[2016-07-23 01:31] xiaolin commented on #74
@phoenixgao you can also stop the calculation of thumbnail scrolling using `disableThumbnailScroll` as a prop

[2016-07-23 01:31] xiaolin commented on #74
@msn0 really awesome work with that design! 👍

[2016-07-23 04:57] xiaolin commented on #54
@texate not sure if you tried this or if this can be a solution for now, but you can disable `infinite` which would **not** allow users to swipe before the first element or beyond the last element.

[2016-07-24 07:42] hibearpanda commented on #73
I was actually wondering about this as well - although I'm trying to see if I can hack this together with react router and this package as it currently stands

The use case is basically like facebook or pinterest - click on an image will launch a modal with the image gallery, and navigation to view the rest of the images of an album. The url changes as you navigate the album so that you can share

[2016-07-24 16:46] xiaolin commented on #73
@hibearpanda Ah, that makes sense. But it would be pretty easy to integrate this package with react-router. You can simply route to your image id, and pass in prop `startIndex` and the ImageGallery will start at the right image.

[2016-07-24 17:13] hibearpanda commented on #73
@xiaolin Thanks dude! I'm just finishing up the setup with react-router and the rendering logic, about to try using this package.

keep up the good work - looks fantastic so far

[2016-07-25 04:02] xiaolin commented on #54
@gaborluk @texate this issue is now fixed in v0.6.6 🎉

[2016-07-25 04:09] xiaolin commented on #74
@phoenixgao did you solve your issue?

[2016-07-25 04:10] xiaolin commented on #73
@oyeanuj I don't think adding router support is a good idea for a standalone component like this. Let me know your thoughts if you disagree.

[2016-07-25 05:59] texate commented on #54
great news, @xiaolin !
works like a sharm, thank you!

[2016-07-25 12:06] gaborluk commented on #54
Thank you, @xiaolin!

[2016-07-25 13:38] #54 closed

[2016-07-27 00:10] xiaolin commented on #74
Closing this, feel free to reopen if you have further questions.

[2016-07-27 00:10] #74 closed

[2016-07-27 09:59] phoenixgao commented on #74
sorry for late reply, yes I've tried flexbox thanks to the awesome work from @msn0, but then it doesn't scroll as expected. I will try to make vertical scrolling work by myself later, thanks!

[2016-07-28 11:16] iolloyd opened #75 "Slide no longer works"
After updating to the latest version to resolve the issue of sliding to the left in the event that there were only two images, slide no longer works.

[2016-07-28 11:33] iolloyd commented on #75
Update. This now works if I set lazyLoad to false.

[2016-07-28 13:30] xiaolin commented on #75
@iolloyd thanks for the report, I know exactly whats causing this. I will release another version tonight.

[2016-07-29 00:11] xiaolin commented on #75
@0.6.7 fixes this.

[2016-07-29 00:12] #75 closed

[2016-07-29 14:16] xiaolin commented on #73
Closing this, feel free to reopen if you disagree.

[2016-07-29 14:16] #73 closed

[2016-07-30 04:44] Abhimanyuv92 opened #76 "Thumbnails Navigation"
Can we have a navigation for thumbnails similar to that of original images.?

[2016-08-01 21:40] xiaolin commented on #76
This shouldn't be too hard to implement. I'll take a look at this when I get a chance.

[2016-08-09 15:15] xiaolin opened #78 "Update demo images, as lorempixel is behaving slowly."

[2016-08-10 00:08] #78 closed

[2016-08-12 15:02] flyon opened #79 "many deprecation warnings"
Im using react 15.3.0:

```Warning: You are manually calling a React.PropTypes validation function for the `items` prop on `ImageGallery`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.```

and many more, all about manually calling PropTypes

[2016-08-12 15:10] xiaolin commented on #79
Thanks for bringing it up, I will take a look soon.

[2016-08-13 01:37] xiaolin commented on #79
@flyon I'm not seeing anything wrong on my end. Are you calling PropTypes? see https://facebook.github.io/react/warnings/dont-call-proptypes.html

[2016-08-13 08:23] flyon commented on #79
No I'm not doing anything with proptypes, but all the proptype warnings come up when I insert the ImageGallery from this library. Also, my mistake, I'm using react 0.14.3, not 15.3.0.

[2016-08-13 10:54] xiaolin commented on #79
I'm not able to replicate this issue. I've tried both `0.14.3` and `15.3.0` and they're fine. Are you using a boilerplate? How are you inserting `ImageGallery`?

[2016-08-16 19:35] BesatZardosht opened #80 "arrow key should work only if the component is focused"
Thanks for amazing component!
being able to use arrow keys to change slides is great however, it should be disable if the component is not focused.

[2016-08-19 00:03] xiaolin commented on #80
That might not always be desired. If you are running into conflicts with `keydown` events you can add a wrapper to `ImageGallery`, see below.

[code]

**Note**: Toggling `disableArrowKeys` was just release and only works on `0.6.8`

[2016-08-22 13:51] sylvesteraswin opened #81 "Thumbnails should scroll vertically too."
Right now I see you have only translateX.

I am using this plugin and I have requirement where I need to translateY.

Would you be kind enough to implement this feature :)

[2016-08-24 11:01] psimyn opened #82 "thumbnail container width < 100%"
Trying to get the navigation arrows at the bottom (on either side of the thumbnails). Positioning them works, but it means the thumbnails at the end get covered by the arrows.

Due to thumbnail translateX using galleryWidth instead of thumbnailContainer width - probably same fix as for https://github.com/xiaolin/react-image-gallery/issues/76

[2016-08-24 22:34] xiaolin commented on #82
The navigation arrows are absolutely positioned, you can manipulate them more towards the left or right using negative values.

#76 is asking for the ability to navigate through thumnails, I don't think its the same as your issue.

![screen shot 2016-08-24 at 6 30 16 pm](https://cloud.githubusercontent.com/assets/1286776/17950386/eee9d4d2-6a28-11e6-90b2-93f537edcf08.png)

[2016-08-24 22:37] xiaolin commented on #80
Closing this as a wontfix, feel free to reopen if you have any questions.

[2016-08-24 22:37] #80 closed

[2016-08-24 22:42] xiaolin commented on #79
closing this.

[2016-08-24 22:42] #79 closed

[2016-08-24 23:26] psimyn commented on #82
Close, but I wanted the arrows inside the container. This image shows the problem, the left and right-most images and covered

![image](https://cloud.githubusercontent.com/assets/1731922/17951478/b2556234-6aa5-11e6-8d34-25dd1c418c40.png)

[2016-08-25 00:26] xiaolin commented on #82
@psimyn released `0.6.10` which makes thumbnails adjust based on its own width,and not the containers width.

[2016-08-25 01:27] xiaolin commented on #81
take a look at #74. You should be able to do this using css.

[2016-08-25 01:57] psimyn commented on #82
:tada: Thanks! change you made was identical to our own fork!

[2016-08-25 01:57] #82 closed

[2016-08-25 04:11] vldolot opened #83 "How to use the renderItem prop?"
Hi, first of all, thanks for a neat image carousel/gallery react component.

This is not really an issue but rather a question on how to use the **`renderItem`** prop.
What I would like to do is to modify the content of the item.description to have some links into it.

Appreciate your response to this.

Thanks!

[2016-08-25 15:14] xiaolin commented on #83
The example (untested) below should get you started.

[code]

[2016-08-25 17:33] vldolot commented on #83
Great! It works! So, the only missing piece of code on my part was the `.bind(this)`. Thank you so much.

[2016-08-25 18:11] #83 closed

[2016-08-26 03:39] samquarm opened #84 "Referencing Vidoe and Audio file"
First of all, this is an amazing react solution.

Is it possible to reference video and Audio files. If not is there flexibility to customize this plugin to handle vidoe and audio files.

Thank you.

[2016-08-26 16:09] xiaolin commented on #84
see #83 you have the ability to override how a slide can be rendered. In there you should be able to put your video, and audio files.

[2016-08-29 16:22] steplerbox opened #85 "Incorrect attribute name in readme"
size: 'Optional size (image size relative to the breakpoint)'

I think, it should be 'sizes'

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Example_4_Using_the_srcset_and_sizes_attributes

[2016-08-29 16:37] xiaolin commented on #85
Yes you are right.

[2016-08-29 17:13] #85 closed

[2016-08-29 17:13] steplerbox commented on #85
So, I close it :)

[2016-08-31 12:23] dientuki opened #86 "Fullscreen not working in iphone"
Hi, the fullscreen option it's not working in iphone (safari and android). It's seen is an implementation issue http://caniuse.com/#feat=fullscreen, however, there are a jquery gallery who use a fullscreen mode http://dimsemenov.com/plugins/royal-slider/gallery/ (it's not 100% fullscreen, but it's something)

[2016-08-31 12:46] dientuki opened #87 "Fullscreen button disappear in fullscreen mode"
Just that, the button is outside the gallery, so when I enter to fullscreen mode the button disappear. You can move the button inside the <section> to fix this

[2016-08-31 13:50] vladop opened #88 "Add lazyload to thumbnails"
I set lazyload  property but doesn't effect anything

[2016-08-31 14:42] xiaolin commented on #88
What version are you on? And what is not working?

[2016-08-31 16:11] xiaolin commented on #87
Referencing #89

[2016-08-31 16:18] xiaolin commented on #84
Were you able to figure it out? @samquarm

[2016-08-31 16:19] xiaolin commented on #81
Were you able to figure it out @sylvesteraswin ?

[2016-08-31 17:27] sylvesteraswin commented on #81
First I made it work with CSS, but the problem was the thumbnails transform was X axis only so if I have many images it wouldn't move, so I had a hack it using the onSlide function to recalculate the transform position for Y axis  and changed it :)

[2016-08-31 18:28] xiaolin commented on #81
Interesting,  did you try using css rotate? I thought that might work since you can rotate the whole thumbnail container and its thumbnails and have it still slide.

Since this does not seem easy, I will see if I can find some time to actually add this as a property feature.

[2016-08-31 18:29] xiaolin commented on #87
closing this as we have a PR open for this issue.

[2016-08-31 18:29] #87 closed

[2016-09-01 08:00] imperat0r commented on #88
It seems thumbnail images are not lazyloaded. When there are  100 images that is 100 requests for thumbnails. Maybe would be solution to load only images that should be visible at some point. I made performance little better by adding this code when thumbnails array is created. (Not great when startIndex bigger than 1 ,but helps in my situation.
                    var currentIndex=this.state.curr

[2016-09-01 13:55] xiaolin commented on #88
Ah, yes. This was mainly the reason I left out lazyLoads on thumbnails.

I'll revisit when I get a chance to see if I can come up with a solution that supports `infiniteScroll` and `startIndex`

[2016-09-01 15:18] harrington101 commented on #81
I agree, this would be a good feature but can you make it so that it can be vertical on large screens and horizontal on small screens?

[2016-09-01 16:12] sylvesteraswin commented on #81
@xiaolin Using CSS transform and rotating will not work, since you are always calculating the width from the X axis and it looked too hacking to do anything with CSS.

Good you provided the onSlide helper function :)

You should create a config. I will see if I can find time and send a pull request for this feature 💃

[2016-09-01 18:28] xiaolin commented on #81
Ideally we can turn this on as a prop like `thumbnailBarLocation={'left'}` If I have time I will try to get to this if no one opens a PR.

[2016-09-03 04:45] xiaolin commented on #84
@samquarm I've updated the demo, and `example/app.js` to show an how to implement videos in between slides.

[2016-09-07 17:46] AshvinkumarPatel opened #91 "Babel6 Code example"
Hello,

Could you please guide me in below code's ref attribute?

<ImageGallery
          ref={i => this._imageGallery = i}
          items={images}
          lazyLoad={false}
          onClick={this._onImageClick.bind(this)}
          onImageLoad={this._onImageLoad}
          onSlide={this._onSlide}
          onPause={this._onPause.bind(this)}
          onPlay={this._onPlay.bind(this)}

[2016-09-07 18:00] xiaolin commented on #91
`ref={i => this._imageGallery = i}` is the same as
`ref={function(i) { this._imageGallery = i;}.bind(this)}`

[2016-09-07 22:21] xiaolin commented on #91
@AshvinkumarPatel does that help?

[2016-09-08 03:14] AshvinkumarPatel commented on #91
Really appreciate your prompt reply.

I am just checking the same, will update you on it.

Thanks,
Ashvin

On 8 September 2016 at 03:51, Xiao Lin <notifications@github.com> wrote:

[2016-09-08 03:50] AshvinkumarPatel commented on #91
Hello,

I am getting gallery loaded, but in console getting below errors when I add
below code:
ref={function(i) { this._imageGallery = i;}.bind(this)}

When I remove .bind(this) then also getting same error message in console.
Please find screenshot for better idea.

Could you please guide where _imageGallery is declared, it is giving it as
undefined?

Please guide.

Thanks,
Ashvin

On 8 Septembe

[2016-09-08 04:10] AshvinkumarPatel opened #92 "Video plays even after slide is change"
This is really great plugin along with video in gallery.

I have seen one issue in video.

Step 1: Reach slide where we have video
Step 2: Click to play video
Step 3: Slide the gallery to next or previous
Step 4: Video which we played in step2 still plays. It should stop playing when we change slide.

Thanks,
Ashvinkumar

[2016-09-08 14:27] xiaolin commented on #92
The video demo was meant to be an example of what you can do with `renderItem`. Its not part of the library.

To fix your issue you can pass in your own `onSlide` function into the gallery and turn off the video when a slide event occurs.

[2016-09-08 14:28] #92 closed

[2016-09-08 14:29] xiaolin commented on #91
Closing.

[2016-09-08 14:31] xiaolin commented on #84
Closing this.

[2016-09-08 14:31] #84 closed

[2016-09-08 15:18] AshvinkumarPatel commented on #92
Thanks for your guidance in that.
On Sep 8, 2016 7:58 PM, "Xiao Lin" <notifications@github.com> wrote:

[2016-09-10 20:48] xiaolin commented on #86
@dientuki mobile full screen should now work in v0.7.0

[2016-09-10 20:48] #86 closed

[2016-09-11 22:41] lord-xeon opened #93 "onFullScreen Event"
Can you add a hook for onFullScreen change?

[2016-09-11 22:55] xiaolin commented on #93
Sure.

[2016-09-11 23:00] lord-xeon commented on #93
I made the change I was looking for on my fork, I'm getting authorization errors trying to upload a pull request.

All I need is something simple:

[code]

[2016-09-11 23:01] lord-xeon commented on #93
I'm trying so track some stuff with Google Analytics, all I need is a boolean for enter/exit

[2016-09-11 23:02] xiaolin commented on #93
Got it, I'll return the `fullscreenElement` then.
[code]

[2016-09-11 23:08] lord-xeon commented on #93
Awesome, thanks for the quick response!

This is the perfect little package that covers everything I was looking for btwz.

[2016-09-11 23:09] xiaolin commented on #93
np, glad you find it useful! Released the callback in v0.7.1

[2016-09-11 23:09] #93 closed

[2016-09-14 01:17] AshvinkumarPatel opened #94 "Play and Full Screen buttons are not creating"
Hello,

Facing an issue in full screen and play options in gallery. PFA screenshot in which I have shows markups are not generating same which is generating in sample-gallery.

In my issue-facing-gallery.png, you can see it is not generating "image-gallery-slide-wrapper" as well as full screen button and play gallery button.

Could you please guide me if I have missing anything?

![sample-gallery]

[2016-09-14 01:32] xiaolin commented on #94
What version of the library are you using? You might be using an older version.

[2016-09-14 02:37] AshvinkumarPatel commented on #94
There was no issue in plugin. I was using the older version 0.6, I have just tool latest and it solved my issue. Hence closing issue.

[2016-09-14 02:37] #94 closed

[2016-09-14 03:13] AshvinkumarPatel opened #95 "Full Screen Width"
Is there any way to occupy full width of screen on click of full screen button?

[2016-09-14 04:05] xiaolin commented on #95
@AshvinkumarPatel There are many ways to do this. Full screen should respect the width of your browser. If the gallery is not set to 100% then the full screen will not be set to 100% either.

[2016-09-14 04:11] xiaolin commented on #95
Please take a moment and research your questions, if you cannot find the answer, and its related to the library feel free to open an issue.

[2016-09-14 04:11] #95 closed

[2016-09-14 12:17] nelsieborja opened #96 "Support for multiple slides to be visible at a time"
Will u be able to support this soon? Would want to use it on my project.

[2016-09-14 13:54] xiaolin commented on #96
You should be able to do this with the custom `renderItem` function.

[2016-09-16 17:18] xiaolin commented on #96
@nelsieborja were you able to figure this out?

[2016-09-17 07:23] smancang opened #97 "the font icon can't display right (Font cdn doesn't always load/load too slow)"
Should I install some font, some icons don't display in the right way.

[2016-09-17 11:44] xiaolin commented on #97
which ones?

[2016-09-19 21:23] ilxanlar opened #98 "More control over icons"
I wonder if I could have more control over icons, I mean some props for icons. Right now the only way to handle the icons is CSS.
We can do something like this:

[code]

[2016-09-19 21:30] xiaolin commented on #98
You have full control to override the icon using css? Is there a reason you want to use markup language vs css pseudo elements?

[2016-09-20 07:11] ilxanlar commented on #98
I'm using your package, and I'm really grateful! Thank you!

I use `grunt-webfont` to build my icons in my project. Every time `grunt-webfont` rebuilds the icons, it sets characters randomly or _whatever-ly_. I can handle this problem with `codepoints` but if I had access to icons markup, it would be a lot lot easier.

Another reason for me is I think it's not clean this way:
[code]

For example I

[2016-09-21 00:21] xiaolin commented on #98
@ilxanlar probably a debatable topic haha lots of people like using pseudo elements as icons.

e.g.
[code]

This way I don't need to add extra markup for icons. `<i class='prev'></i>` etc...

What is your use case for having an `Icon` component?

[2016-09-21 06:40] ilxanlar commented on #98
@xiaolin I do not say that you remove this pseudo thing, I'm saying that let me modify these elements. May be only an icon isn't enough.
By the way, does it not feel good to use a component for icons, `Icon`? :D

[2016-09-23 02:36] xiaolin commented on #98
Right now I don't have any markup for icons that will make it easy to replace and insert custom icons.

[code]

Icons like `fullscreen`, and `play` are also toggled  which adds more complexity.

Instead override the css with your own icon library.

e.g.

[code]

[2016-09-23 02:36] #98 closed

[2016-09-23 02:37] xiaolin commented on #97
Is this still an issue? I'm closing this feel free to open if you're still having issues.

[2016-09-23 02:52] smancang commented on #97
That is beacuse the web can't download the icon font from the path //cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts.  I think it is better to include the font file in this package.

[2016-09-23 02:58] xiaolin commented on #97
the url should be `cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0` Which works for me.

[2016-09-25 01:04] xiaolin commented on #96
Closing this, feel free to open if you have any more questions.

[2016-09-25 01:04] #96 closed

[2016-09-25 06:05] cjke opened #100 "Disable swipe events"
Hi, first, excellent library, thanks.

Would it be possible to add a prop that allows the swipe events to be switched on/off?

Perhaps around the following line, do a check if `enableSwipe` is true, and if not, don't wrap the `image-gallery-slides` in the Swipeable component:
https://github.com/xiaolin/react-image-gallery/blob/3e0ebcce3eebe982d5653cd28db22a71224d052f/src/ImageGallery.jsx#L748

For

[2016-09-25 14:32] xiaolin commented on #100
Sure this seems simple enough.

[2016-09-25 14:39] cjke commented on #100
Thanks @xiaolin !

[2016-09-26 02:28] smancang commented on #97
I know the right url path, maybe my network is too slow, it can't download the font file rightly.

[2016-09-28 01:02] xiaolin commented on #100
released in v0.7.2

[2016-09-28 01:02] #100 closed

[2016-09-29 14:57] iiitmanikanta opened #101 "Multiple image gallery in a same page"
when ther is multiple image gallery's in one page and if we click Arrow right to scrool image in a one image gallery , all the images in remaining gallery's are also moving,
same thing happens for the full screen option too. all gallery's images are opeing in full screen.

how to restrict each one functionality ???

[2016-09-30 13:56] xiaolin commented on #101
Can you show me how you are rendering the `ImageGallery`?

[2016-10-01 15:23] iiitmanikanta commented on #101
return (
      <ImageGallery
        onScreenChange={this.fullscreenElement}
        lazyLoad={false}
        showIndex
        indexSeparator=' / '
        showThumbnails={false}
        defaultImage={NoImageAvailable}
        showPlayButton={false}
        items={images}
        slideInterval={1500}
        onImageLoad={this.handleImageLoad} />
    )

i kept this in one component and i am callin

[2016-10-01 15:48] xiaolin commented on #101
I'm not able to replicate your issue. I did,

[code]

[2016-10-05 11:27] jadonald72 opened #102 "Duplicate Issue - Fullscreen support on iOS"
IGNORE THIS!!!!

I am using onScreenChange prop to call a script on my page, but iOS never calls this, fine on Android.  From what I can see the prop onScreenChange has no value.

After doing some research I have found that the Fullscreen API doesn't seem to be supported by mobile devices using iOS.  So, I am now asking myself should I still use this plugin if it doesn't work correctly on iOS mobi

[2016-10-05 11:49] jadonald72 opened #103 "Fullscreen support on iOS"
I am using onScreenChange prop to call a script on my page, but iOS never calls this, fine on Android.  From what I can see the prop onScreenChange has no value.

Also, when I do click on the fullscreen icon, the image doesn't go totally fullscreen.  I still see a header and footer.  I am building a hybrid app.  Perhaps a CSS issue?

After doing some research I have found that the Fullscreen API d

[2016-10-05 13:43] #102 closed

[2016-10-05 13:49] xiaolin opened #104 "onScreenChange does not return any value for unsupported devices"

[2016-10-05 13:51] xiaolin commented on #103
Right fullscreen API is currently not supported on most mobile devices. This is why I'm using a css solution when there is no fullscreen API supported.

I took a look and realize `onScreenChange ` does not return any values for unsupported devices, so thats a bug that will be fix soon #104.

Can you show me a screenshot of it not going totally fullscreen? Its probably css which you can adjust.

[2016-10-05 14:23] jadonald72 commented on #103
![property_details](https://cloud.githubusercontent.com/assets/10462983/19117021/7b263376-8b0f-11e6-94cd-aaa2bcfbead3.jpg)

As you can see the overlay does not cover the whole screen.  Any ideas?

[2016-10-05 15:31] xiaolin commented on #103
Looks like an issue with css.

Check to see if your footer area has `z-index` attribute value higher than 5. The fullscreen CSS I wrote only has a `z-index: 5;` so that can be the issue.

[2016-10-05 17:09] jadonald72 commented on #103
Tried changing z-order, but still same issue. I think it could be the way my view manager is built. If you get the other bug fixed I should be able to call a function to show/hide the items that are showing on to of the overlay. A bit of a hack, but should work.

[2016-10-06 14:27] xiaolin commented on #103
Is your footer area also `position: fixed` ? If so it probably has a higher z-index.

[2016-10-06 14:29] jadonald72 commented on #103
Thanks.  I will close this issue.

[2016-10-06 14:29] #103 closed

[2016-10-07 10:40] jadonald72 opened #105 "Passing image height to gallery"
I have the following calculation that sets the height of a container based on the width of the screen

var windowWidth = document.documentElement.clientWidth;
imgHeight = parseInt(windowWidth * 0.75);

Is there a way that I can pass "imgHeight" to the gallery so that all images use this height?

[2016-10-07 14:45] #105 closed

[2016-10-11 13:26] ilionic opened #106 "number of thumbnails to display"
Impressive gallery! Looking for alternatives to replace react-slick, and wondering if it's possible to control number of thumbnails to display as well as optionally hiding main image?
Besides usage as a gallery I'd like to use it as carousel of slides. For example http://neostack.com/opensource/react-slick

[2016-10-14 12:35] twanschik opened #107 "Scrolling page doesn't work on thumbnails on mobile devices"
It seems like the call `event.preventDefault()` in `slideToIndex()` prevents scrolling of a page when on mobile devices (via touchstart).

[2016-10-15 16:57] xiaolin commented on #106
You can set custom `classes` per thumbnail/slide then you can hide them via css. You can also decrease the amount of thumbnails to show by reducing the length of the thumbnail container via css.

[2016-10-15 20:05] #101 closed

[2016-10-17 21:10] xiaolin commented on #107
Thats odd, If you go on the demo page using a mobile device I can scroll just fine.

[2016-10-18 07:38] twanschik commented on #107
Try to scroll by "touchstarting" on a thumbnail. Doing so will lead the `event.preventDefault` call.

[2016-10-18 16:47] xiaolin commented on #107
Ah I see the issue now.

[2016-10-19 14:42] moxiaobei2 opened #108 "when the playing end ,it can't not play again"
I set the setting infinite=false ,when I start to play the image,at the end of play,I want to play again,it did not worked

[2016-10-19 15:00] xiaolin commented on #108
That is intended. If its not infinite It stops at the end once it finishes.

[2016-10-19 15:08] moxiaobei2 commented on #108
@xiaolin  but it can't not play again~the play do once~~I　mean I want to try like this:I gallery the images,at the ending,I want't to play again.

[2016-10-19 15:12] xiaolin commented on #108
You should set `infinite=true` then it will play again.

[2016-10-22 08:28] jhabdas opened #109 "Use with Inline CSS Modules"
This image gallery looks fantastic. I'm working with an _awesome react boilerplate_ called [react-production-starter](https://github.com/jaredpalmer/react-production-starter), which uses Aphrodite for CSS Modules and isomorphic rendering.

Though not ideal, I tried pulling the CSS out of the `dist` directory and adding the `style` and `css` loaders for Webpack as mentioned in https://github.com/xi

[2016-10-22 14:41] xiaolin commented on #109
Are you saying `className` defined by a component will be renamed by `Aphrodite`?

e.g. `<div className='image-gallery-bullets'>` becomes `<div className='some_otherclass'>`?

[2016-10-22 18:48] xiaolin commented on #104
fixed

[2016-10-22 18:48] #104 closed

[2016-10-22 18:48] xiaolin commented on #108
Closing this, feel free to open if you have more questions.

[2016-10-22 18:48] #108 closed

[2016-10-22 19:23] xiaolin commented on #107
I will fix this by removing the `onTouchStart` events since it is no longer needed.
https://github.com/facebook/react/issues/6221#issuecomment-204486835

[2016-10-22 19:33] xiaolin commented on #71
This is fixed since `onMouseOver` has been removed from image slides.

[2016-10-22 19:33] #71 closed

[2016-10-22 19:36] xiaolin commented on #107
fixed in 0.7.3

[2016-10-22 19:36] #107 closed

[2016-10-22 20:10] xiaolin commented on #106
@ilionic Did this solve your issue?

[2016-10-22 20:18] Yuripetusko commented on #106
@xiaolin we have created a fork with `slidesToShow` and `slidesToScroll` will create a PR after some cleanup later next week. We couldn't use classes as if we reveal more slides, then when using inifinite and reaching last item, you could see transition animation of first slides moving to the end of carousel

[2016-10-23 05:09] jhabdas commented on #109
Good question. I ended up copying the CSS from the NPM module into a local CSS file, which is why the CSS classes are being renamed. Maybe if I `import` directly from the module they won't get renamed... But I do like the idea of being able to use `<tag className={css(styles.whatever)} />` within the image gallery codebase. But I'd prefer not to fork if there's already one out there.

I noticed wo

[2016-10-23 05:09] #109 closed

[2016-10-23 14:19] #106 closed

[2016-11-03 00:23] holzru opened #110 "Color of bullet navigation"
Can the feature of being able to color the bullets that display where you are and allow click navigation be added or does it exist, in which case can it be pushed to public readme. It just suffers when the pictures have a white background.

[2016-11-03 00:30] holzru commented on #110
Side note you have to use the !important tag, because life

[2016-11-03 03:18] xiaolin commented on #110
You don't need !important if you are specific enough. The below snippet should work as long as its declared after the initial declaration of the class.

[code]

[2016-11-03 03:44] holzru commented on #110
Got it, thanks I will try that out.

On Nov 2, 2016 8:18 PM, "Xiao Lin" <notifications@github.com> wrote:

[2016-11-03 15:17] Blkc commented on #76
I am not sure if I am asking the same thing as above, but I would like swiping on thumbnails since when there are alot of thumbnails it is better on mobile for the user to be able to swipe to the image they want rather than to use the bullets to navigate. Is swiping on thumbnails in progress?

[2016-11-03 15:28] xiaolin commented on #76
I think @Abhimanyuv92 was talking about having left, and right arrow navigation that will slide a series of thumbnails. But as apart of that I did plan to have swipe functionality too.

Currently not in progress.

[2016-11-04 07:40] jossi87 opened #111 "Gallery exceeds 100% of screen height"
My screen resolution is 2560x1080px. When I start fullscreen on http://linxtion.com/demo/react-image-gallery/ only top of the thumbnails are visible on screen (see attached screenshot).

A similar problem occurs when I use portrait images.

![scale example](https://cloud.githubusercontent.com/assets/17472908/19997980/55f17c42-a26a-11e6-88d2-8a67eb247e9a.jpg)

[2016-11-04 13:55] xiaolin commented on #111
@jossi87 You will have to play with the css to get it working on all your resolutions. The demo slides are naturally 1920x1200, and I've modified the gallery css on the demo page with
[code]
You can adjust the width / use media queries so that it fits appropriately on different screen sizes.
I've modified the width to about `58%` to fit the gallery in your resolution
![screen shot 2016-11-04 at 9

[2016-11-04 16:48] jossi87 commented on #111
Thank you for your quick reply!

This solves the problem with landscape images.
But I still can't figure out how to fix portait images.
When I inspect one portrait image in fullscreen mode with Chrome the size is: "1664 × 2496 pixels (Natural: 720 × 1080 pixels)".
If I disable ".image-gallery-slide img { width: 100%; }" this is the result: "720 × 1080 pixels" (as I wanted). But now the image is no

[2016-11-05 14:08] xiaolin commented on #111
If you're mixing portraits and landscapes (with varying sizes), you're going to have to tweak the css to fit your needs. `ImageGallery` supports custom classes (`originalClass`, `thumbnailClass`) for each slide so you can probably do something with that to adjust your landscape and portrait images.

e.g. (untested)

[code]

in the css you can override
[code]

[2016-11-05 16:08] jossi87 commented on #111
Thank you again for your help.
I have many different sizes of images, and found a solution working for me (Chrome, IE, Edge).

I use my own render-method:
`renderImage(item) {
    return (
      <div className='image-gallery-image'>
        <img src={item.original} style={{maxHeight: '100vh', maxWidth: '100vw', objectFit: 'scale-down', fontFamily: "'object-fit: contain'"}}/>
      </div>
    );

[2016-11-05 16:14] xiaolin commented on #111
Awesome, glad it worked out. I'm closing this issue then 👍

[2016-11-05 16:14] #111 closed

[2016-11-14 22:39] DiegoGallegos4 opened #112 "Delete Image"
Whenever deleting an image:

`deleteImage(){
    const {images} = this.state.form
    let idx = this._imageGallery.getCurrentIndex();

    this.setState({
      form: update(this.state.form,{
        $merge: {
          images: images.filter((img, i) => i !== idx),
        }
      })
    });
  }`

The rendered gallery is empty but on the DOM there are still images. Are there any examples of image

[2016-11-15 01:37] xiaolin commented on #112
When you update the state of your items it will delete whatever is not in there.

e.g.
[code]

You might not be deleting your images correctly.

[2016-11-17 00:22] xiaolin commented on #112
@DiegoGallegos4 were you able to fix your issue?

[2016-11-20 14:08] samquarm opened #113 "Thumbnail for different size images"
Hello Xiaolin,

Again, I love this plugin and its capabilities. I am having some issues with different size thumbnail files. We tried using css clipping but it seems to cause some tabular issues. Can you give us provision to tell whether we can clip it from top, bottom or center? That will not mess with the thumbnail grid?

![2016-11-20_8-58-43](https://cloud.githubusercontent.com/assets/2169111/2

[2016-11-20 15:00] Burak07 opened #114 "All images are viewed at the same time"
Screenshot below explains the issue

- Using webPack and I'm not sure it is about webpack configuration so posting it here.
-I suspect some configuration fail is behind it.

[code]
module.exports = config;

- I think  it can not access css and scss files in nodemodules/react-image-gallery and this causes the issue. If so not sure how to configure it .

-There is no error on console.
![untitled](ht

[2016-11-20 15:38] DiegoGallegos4 commented on #112
@xiaolin Images are being deleted correctly, the rest of the images are in the DOM when deleted but the carrousel does not update its active classes. I ended clicking on the right arrow to fix it but its an ugly hack.

[2016-11-20 20:21] xiaolin commented on #112
@DiegoGallegos4 I see the issue you're having, to fix this you should slide to the index after you delete your images. If you're on index 7 and it gets deleted, you should handle where the slide should go to. You can do so using the function `slideToIndex` to get to where you want.

[2016-11-20 20:23] xiaolin commented on #114
I'm not sure how you're importing your css, double check by inspecting the elements to see if css is applied. This to me seems like an css import issue/configuration with your webpack.

[2016-11-20 20:31] xiaolin commented on #113
If you want all the thumbnail to be the same size e.g. 120x75 then you should set a width on the `.image-gallery-thumbnail` class then apply an auto height on the img
[code]

If you just need the thumbnails to be the same height then you can simply do

[code]

[2016-11-21 21:35] karlguillotte opened #115 "Using this component in a form"
First, thanks for your component! It works like a charm.

Here is my issue, I am using your component in a form to show images that are about to be submitted along with the form. Anytime I press one of the buttons (navigation or bullets) my form gets submitted. The reason, there is no `type` attribute specified. They default to `type=submit` when rendered in a form.

Would it be possible to add `t

[2016-11-21 21:39] xiaolin commented on #115
Sure, that seems easy enough. Wanna open a PR?

[2016-11-22 05:31] xiaolin commented on #115
Fixed in v0.7.4

[2016-11-22 05:31] #115 closed

[2016-11-22 23:04] xiaolin commented on #114
Try using a webpack starter kit, and see what the issue is with your configuration. Its hard for me to tell what is actually wrong, and how you are importing the css file.

[2016-11-22 23:04] #114 closed

[2016-11-22 23:06] xiaolin commented on #112
Closing this, feel free to reopen if this is still an issue.

[2016-11-22 23:06] #112 closed

[2016-11-22 23:07] xiaolin commented on #113
@samquarm did you solve the issue?

[2016-11-24 13:34] samquarm commented on #113
Absolutely. Even though it wasn't the answer I was looking for, it solved
the problem.

On Tue, Nov 22, 2016 at 6:07 PM, Xiao Lin <notifications@github.com> wrote:

--
*Samuel Quarm**, MSc.,  MCT, MCPD, MCTS, ITIL*
240-643-0901
samquarm2000@gmail.com
**Every great leader was once a great  follower**

[2016-11-27 01:39] DiegoGallegos4 commented on #112
The complete solution would be:

let idx = this._imageGallery.getCurrentIndex();
this._imageGallery.slideToIndex(idx == 0 ? idx : idx - 1);

if index is 0 is trying to slide to the next then if could fall into the case that there is no other image because the last image passed to be the 0 idx. This works for all the cases:

1. Deleting 0 index
2. Deleting last index
3. Deleting from middle indexes

[2016-11-27 01:50] #113 closed

[2016-12-01 00:39] davibq opened #117 "Custom Arrows"
Hi,

I was thinking about the possibility of:
1- Create a css version of image-gallery.css without the icons import. Something like image-gallery-no-icons.css
2- Create properties to specify the buttons that need icons as React components.

I can implement them if you think this will be useful.

[2016-12-01 02:40] xiaolin commented on #117
I'm totally cool with #1, but how would you implement #2? The current icons has specific css applied to them, will you be preserving that?

[2016-12-08 14:36] Artkoch opened #118 "How to make RIG open on a specific slide"
Hi,

How to make RIG open on a specific slide on click?

[2016-12-09 17:11] #118 closed

[2016-12-15 18:40] darklilium opened #119 "Example not working"
I have this code and idk why is giving me an error or what im missing, any help will be very appreciate :)
Thanks in advice!.

[code]

![image](https://cloud.githubusercontent.com/assets/8507515/21237227/d0d76fe2-c2dc-11e6-9cc0-452dcf665405.png)

[2016-12-15 18:53] xiaolin commented on #119
I don't see anything wrong in this snippet.

You can google and look for some similar issues.

Are you using react-router? If so check out this issue.
https://github.com/ReactTraining/react-router/issues/2220

[2016-12-15 19:04] darklilium commented on #119
Yes i am.

[2016-12-15 19:59] darklilium commented on #119
I saw the issue here and the other website link :https://codereviewvideos.com/blog/warning-react-createelement/

And i still dont get where is the problem ):

[2016-12-15 20:05] xiaolin commented on #119
If you remove `ImageGallery` does it work?

[2016-12-15 20:07] darklilium commented on #119
Yes, im having the issue with the ImageGallery only

[2016-12-15 20:17] xiaolin commented on #119
Hmm, I'm not seeing anything wrong that would cause that error. Its also hard for me to debug from that screenshot, since it doesn't look specific to `ImageGallery`

Try a simpler render like
[code]

[2016-12-15 20:39] darklilium commented on #119
Nope, it doesnt work.
Maybe its another problem but still doesnt know what it is.
Let me share with u all the code i have in this pen: http://codepen.io/darklilium/pen/pNQYVX

There are some notes in the js file in the last part.

Note:
- Im just learning how to use react router, this is my second application where i use it. So when i try in the AP_Dashboard.jsx file to add the react-image-gallery

[2016-12-15 20:51] darklilium commented on #119
My github repo : https://github.com/darklilium/APChilquinta2017 just in case.

[2016-12-16 15:57] xiaolin commented on #119
Its hard to debug the issue because your build isn't working. I suggest taking a closer look at how you are implementing your routes, and initial rendering. Try taking out all the routes, and just rendering the component, see if that works.

[2016-12-17 22:36] venyii opened #120 "[Feature-Request] Adding more control elements (like fullscreen button)"
Hi,

I'd like to add more options/elements like the fullscreen button to the gallery and position them individually. Therefore, I need to be able to render additional DOM elements on the same level (within `image-gallery-slide-wrapper` like [here](https://github.com/xiaolin/react-image-gallery/blob/bb737302da054a7949233866cc22f970ad6eb26a/src/ImageGallery.jsx#L703) to not have the thumbnails compl

[2016-12-17 22:45] xiaolin commented on #120
What type of options are you planning to add?

[2016-12-17 23:42] venyii commented on #120
Right now, I'd just like to add a linked image that changes its position within the currently displayed image depending on the screen size. It isn't really a gallery control, but this case could be handled as well.

[2016-12-19 15:10] xiaolin commented on #120
You should be able to add your icons via css? if you wrap

[code]

then you can do

[code]

[2016-12-19 15:14] xiaolin commented on #119
closing this, as its not related to `react-image-gallery`

[2016-12-19 15:14] #119 closed

[2016-12-19 15:43] venyii commented on #120
The problem is, that my elements are not inside the image node `.image-gallery-slide-wrapper`, which means that I can't simply do `.my-controls { ..., bottom: 0; }` since they'll be at the end of the surrounding container. Additionally, the controls are excluded from the fullscreen view, as far as I can see.

[2016-12-19 15:50] xiaolin commented on #120
Ah, the fullscreen view would exclude those options.

Sure I think we can support an additional render inside the wrapper. Feel free to open a PR.

[2016-12-20 05:30] barmalejj opened #123 "Sliding to the end of collection triggers onSlide twice"
When user clicks left slide change button the *onSlide* event is triggered twice - once with `index = -1` and once again with `index = <last in collection>`

Is it expected behavior?

[2016-12-22 23:19] xiaolin commented on #123
Hmm I'm not able to replicate this. the `onSlide` event is triggered whenever the index is different. Index should not be `-1` it should start at `0`

[2016-12-23 11:25] pablopaul opened #125 "Slide transition: "Ghost images""
Hey guys,

I have implented your great component with SVGs with transparent background and on some transitions it seems like "other" slides "ghosting around", I tried to capture in the following GIF:

![Gif](https://media.giphy.com/media/l4JyZJleV63tratFu/giphy.gif)

You can play with the live example here https://myinnerteam.com/

**Can you see wheat I mean?**

Any ideas how to avoid/fix?

Thanks

[2016-12-23 12:13] mikkom commented on #125
Yeah, I think you can see this kind of behavior even without using transparent svg's. It seems to happen especially when selecting the first or last image. See for example https://carousel-testing-juetwjpedv.now.sh/

Configuration used in the example:

[code]

[2016-12-23 12:16] pablopaul commented on #125
@mikkom thanks for the clarification and another example with the same issue

[2016-12-23 16:54] xiaolin commented on #125
@pablopaul @mikkom thanks for the report, for now if you set `infinite={false}` it would prevent ghost images from appearing. I'll take a look at the code over the weekend to see if I can patch this up.

[2016-12-23 17:10] xiaolin commented on #125
I was able to find a fix, gonna test it some more tonight, will update you guys once its released.

[2016-12-23 17:54] xiaolin commented on #125
@pablopaul t@mikkom try setting a background color on your slides, I notice this issue is happening because the images are not taking the full width of the container, or the images are transparent.

[code]

[2016-12-23 21:15] pablopaul commented on #125
@xiaolin thx for your effort, background color is not a solution for me since the images have transparent background and a color would change the whole game 😒

[2016-12-23 21:29] xiaolin commented on #125
What about adding

[code]

The difference here is the background is on every slide individually.

When you have `infinite={true}` and you go from the last slide to the first, the logic adjust the first and last slide so that they are appropriately positioned. Normally this happens in the background, but your background is transparent.

[2016-12-23 23:53] #120 closed

[2016-12-24 16:31] xiaolin commented on #125
The latest version 0.7.5 I release should automatically fix your issue @mikkom.

As for transparent images, thats going to be a bit more tricky. I suggest the above solution with a custom set background image and color, or turning off `infinite`

[2016-12-25 09:46] mikkom commented on #125
Thanks @xiaolin, version 0.7.5 definitely works much nicer with my example! Happy holidays - really appreciate what you've done with react-image-gallery 🙌

[2017-01-02 14:01] akuji1993 commented on #81
@xiaolin I need exactly this `thumbnailBarLocation={'left'}`. Did you get a chance to implement this, yet?

[2017-01-02 20:18] xiaolin commented on #125
closing thing per release v0.7.5

[2017-01-02 20:18] #125 closed

[2017-01-02 20:18] xiaolin commented on #123
closing this, feel free to re-open if this is still happening.

[2017-01-02 20:18] #123 closed

[2017-01-02 20:43] sylvesteraswin commented on #81
@akuji1993 I worked on a separate project to accomodate this feature and many more inspired from this library. Have a look at this repo https://github.com/sylvesteraswin/react-gallery-swiper

[2017-01-03 01:59] xiaolin commented on #81
@akuji1993 @sylvesteraswin I was able to finish off what I had on a feature branch, `v0.7.6` includes the functionality to set `thumbnailPosition` as a prop.

I've also updated the readme, and [demo page](http://linxtion.com/demo/react-image-gallery/)

Let me know if you guys have any questions.

[2017-01-03 02:09] xiaolin commented on #74
@phoenixgao release v0.7.6 allows for the option to set thumbnails vertically.

[2017-01-03 02:12] phoenixgao commented on #74
Hi @xiaolin Thanks for the update !!

[2017-01-03 08:03] lamyat2005 opened #127 "0.7.7 version problem"
Hi Xiaolin, I've found that the latest commit 0.7.7 image-gallery-slide-wrapper and thereafter are deleted and therefore photos are not displayed. Would you please have a look? Thanks.

[2017-01-03 08:05] akuji1993 commented on #81
Very cool, thank you for replying so quickly. I'll check both of your solutions out. Happy new year.

[2017-01-03 08:23] akuji1993 commented on #81
If you could update npm also, that'd be great. I see it as latest version is 0.7.6 right now.

[2017-01-03 13:51] xiaolin commented on #127
I had to bump the version to 0.7.8, 0.7.7 was missing a default `thumbnailPosition`

[2017-01-03 13:52] xiaolin commented on #81
FYI, missing default `thumbnailPosition` in `0.7.7` not an issue if you set it, but I've bump the version to `0.7.8` setting a default `thumbnailPosition`

[2017-01-03 13:56] akuji1993 commented on #81
Was indeed working perfectly, still thanks for the reminder, upgraded my project to 0.7.8. Thanks.

[2017-01-03 13:56] akuji1993 commented on #81
I believe, you can close this issue, too. It should be resolved with that change.

[2017-01-03 14:48] #81 closed

[2017-01-04 02:02] #127 closed

[2017-01-04 16:05] lamyat2005 commented on #127
Hi Xiaolin, the latest version seems thumbnails now cannot click on it. Would you please have a look? Thanks.

[2017-01-04 16:35] tadjohnston opened #128 "lazyLoad buffering"
Is it possible to add a buffer image around the right and left images? Without the buffer, on swipe, you get a blank image as the next image ( shown by dragging slow) like so:

![swipe](https://cloud.githubusercontent.com/assets/10748767/21650042/908f02fc-d258-11e6-9b86-c763ea1becbc.gif)

Can another image be tacked on to each side (right, left) so the blank image thing doesn't happen?

[2017-01-04 16:39] xiaolin commented on #128
This is odd, `lazyLoad` always loads the left, center, and right images.

[2017-01-04 16:52] tadjohnston commented on #128
Yeah, but if you drag right or left, there is no image available yet.  Another image would need to be added so you don't see blank.

[2017-01-04 16:57] xiaolin commented on #128
Left, and right should be added. You always start with center, left, and right images, all three being loaded so you can drag left, and right.

Do you have the css/scss files loaded into your library? can you show me the full screen shot of how the gallery looks like?

[2017-01-04 16:57] tadjohnston commented on #128
Currently `lazyLoad` looks like this:
[code]

What I'm proposing is something like this to fix the issue:
[code]

[2017-01-04 17:00] tadjohnston commented on #128
Currently `lazyLoad` looks like this:
[code]

What I'm proposing is something like this to fix the issue:
[code]

[2017-01-04 17:01] xiaolin commented on #128
Just tested the latest build and it seems to be working.

[2017-01-04 17:02] tadjohnston commented on #128
If you drag slow you'll see the blank screen if the image isn't cached already.

[2017-01-04 17:07] tadjohnston commented on #128
Swipe:

| image_2 | image_3 | image_4 |

if I swipe ----->  I get

|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;| image_2 | image_3 |

until the component sets state / re-renders in which I would then get
| image_1  | image_2 | image_3 |

[2017-01-04 17:15] xiaolin commented on #128
In the recent release I think 0.7.5 I removed the ability to swipe past more than 1 image. Is that what you're talking about? when swiping more than 1 image over?

[2017-01-04 17:16] tadjohnston commented on #128
Pretty much yes, but only because of the blank space associated with only swiping 1 image.

[2017-01-04 17:19] xiaolin commented on #128
What version are you on? I suggest using the latest build. `0.7.9`. being able to hold the swipe for over more than one image was a bug that is fixed.

[2017-01-04 17:22] tadjohnston commented on #128
Hmm.. Maybe that's why, I'm on `0.7.8`

[2017-01-04 17:24] xiaolin commented on #128
Oh, then you should be okay actually. `0.7.9` was just a package description change no updates to the js code.

[2017-01-04 17:37] tadjohnston commented on #128
Looks like a css issue.  Gonna have to find out where. Sorry for the confusion here. This image gallery is really great btw! Closing this...

[2017-01-04 17:38] #128 closed

[2017-01-04 22:06] Josephjbliss commented on #117
+1 for this feature

[2017-01-04 22:13] Josephjbliss opened #129 "Custom Slide Animation Duration"
Currently, to adjust the actual animation duration of the slide, I need to add something like:

[code]

in order to override the JS-injected inline CSS. It would be awesome to have this as a prop to the component.

[2017-01-04 22:23] xiaolin commented on #129
Sure, I will add this soon.

[2017-01-04 22:25] Josephjbliss commented on #129
Awesome. Thank you! 💯

[2017-01-05 17:43] tadjohnston commented on #117
+ 1 for this. I'd specifically like to override the navigation with my own (like `_renderItem`).

[2017-01-05 18:54] tadjohnston opened #130 "Less than 3 images breaks the gallery"
If I have less than 3 images, it shows a blank screen.

Example:

Load in 2 images. Notice it only creates a `image-gallery-slide left`.  It does not create a center image or right image

![screen shot 2017-01-05 at 10 52 58 am](https://cloud.githubusercontent.com/assets/10748767/21693313/4b2286c0-d335-11e6-82db-0059696d76ae.png)

Here is what it produces:

![screen shot 2017-01-05 at 10 52 47 am]

[2017-01-05 19:40] xiaolin commented on #130
I'm unable to replicate this. Can you double check your styles, and try using the example I provided as a test case for 2 images.

[2017-01-06 02:57] kamui commented on #117
For `#2`, couldn't you have props for the icons as react components and then you just default those prop values to your current icon set? Then if you override those props, the existing css will load, but the elements with those classes wont be rendered, so it shouldn't be an issue.

[2017-01-06 02:59] xiaolin commented on #117
@kamui you're right, that would work. If no one opens a PR, i'll try to get to this soon.

[2017-01-06 16:16] xiaolin commented on #130
Were you able to fix your issue?

[2017-01-06 16:50] tadjohnston commented on #130
Yeah, it looks like it's working now. Possibly a caching issue.  I'll make sure I do a better job submitting bugs in the future 😞

[2017-01-06 16:50] #130 closed

[2017-01-07 22:00] xiaolin commented on #129
released in v0.7.10

[2017-01-07 22:00] #129 closed

[2017-01-07 22:01] xiaolin commented on #117
`#1`, and `#2` has been fully release in v0.7.10. Thanks @kamui for the help.

See [readme](https://github.com/xiaolin/react-image-gallery) for more information on adding custom icons

[2017-01-07 22:01] #117 closed

[2017-01-09 09:03] mikkom commented on #88
@kamui Could you show an example how exactly you're using react-lazyload with react-image-gallery? If I just disable lazyLoad prop in react-image-gallery component and wrap it with <LazyLoad> then all images are still loaded on the first page load.

[2017-01-09 17:02] xiaolin commented on #88
@kamui I would like to avoid the extra dependency since lazy loading slides are working. Adding a lazy load to the thumbnails shouldn't be too bad.

[2017-01-09 20:39] kamui commented on #88
@mikkom You're right, I forgot in my case I was using this library for lazy loading above the fold. That's what the library does, so it wont help with thumbnails anyhow. Sorry about that.

[2017-01-09 23:07] GramParallelo opened #133 "On Nav click scroll to top of Item"
Hey,  I have my gallery set to `overflow-y: scroll` and when I navigate to an item I want the scroll to be at the top. How do I do this? Thanks

[2017-01-09 23:17] xiaolin commented on #133
Are you trying to slide the gallery from top to bottom instead of left to right?

[2017-01-09 23:40] GramParallelo commented on #133
@xiaolin  No.  I have a fixed height gallery and mixed height items. as such, `overflow-y: scroll`  does that make sense.  the issue is that when i navigate left or right the scroll doesn't go to the top when entering a new item.

[2017-01-10 15:13] xiaolin commented on #133
I see, I would try wrapping the gallery in your own container and set overflow-y on it. This way you have access.

Sample code (Untested)
[code]

I would also encourage you to not have a scroll, and instead use a fix height for mixed height images. This way they will all fit the gallery container.

[code]

[2017-01-10 17:12] GramParallelo commented on #133
Awesome thanks for the help! I couldn't get your way to work how i needed but was able to learn from it :+1:

what is working for me now is instead of wrapping in a div i just grab .image-gallery where i set the scroll on:
`window.document.getElementsByClassName('image-gallery')[0].scrollTop = 0`
in my base.css: `.image-gallery { overflow-y: scroll }`
Is there any reason i should try another way?

[2017-01-10 17:31] xiaolin commented on #133
I suggested wrapping the ImageGallery component because you would have more control over your own wrapper then trying to access a components internals. This way if the component gets updated with a new class, your code will still work.

Ah, I didn't realize you were using text. 😄

[2017-01-10 18:29] GramParallelo commented on #133
i played around a little more ... and i think i'll stick with adding to scrolling `.image-gallery` because with scrolling just added to the wrapper, when you go fullscreen you will no longer will be able to scroll.  if there's a better way let me know
for styling the buttons i would have to access the component internals, right?, is there a better practice for this?  thanks

[2017-01-10 19:13] xiaolin commented on #133
Ah, fullscreen would be an issue for that.

For styling buttons I would overwrite the stylesheets, or you can overwrite the components using provided props `renderLeftNav`, `renderRightNav`, and any other controls you might want to style.

[2017-01-11 13:36] pablopaul commented on #125
@xiaolin Thanks again and the approach with the background image for each slide gives another visual transition (because of the skewed background), see the following example:

![img](https://media.giphy.com/media/l0JLVsldZbrR2lRgQ/giphy.gif)

I think `infinite: false` is the only solution here, or am I missing something?

[2017-01-12 03:11] xiaolin commented on #125
@pablopaul infinite false is the only thing that I can think of right now due to the images being transparent.

[2017-01-12 03:15] #133 closed

[2017-01-12 03:15] xiaolin commented on #133
Feel free to reopen if you have anything else.

[2017-01-16 00:23] bkniffler opened #134 "renderItem in lightbox vs carousel"
Hey,
What a great library!
I would love to be able to have a renderItem and a renderLightboxItem or something alike.

This would allow to show a rich element with text in carousel and a pure image in lightbox.
Or it would allow to show a midres image in carousel and a highres image in lightbox.

What do you think?

[2017-01-16 00:50] Grustamli opened #135 "icons not displaying on chrome and firefox"
Hey, I was having and issue with icon display on chrome and firefox. But safari seemed fine. Putting `https` before the cdn url in _ionicons-variables.scss file fixed it. Maybe you should update it too.

[2017-01-16 00:59] xiaolin commented on #135
Hmm, thats odd, are you able to see the icons on the demo page?

http://linxtion.com/demo/react-image-gallery/

[2017-01-17 15:45] xiaolin commented on #134
Do you mean if an image is clicked a Lightbox would open with the image in it?

[2017-01-17 16:08] bkniffler commented on #134
Maybe I used the wrong term, when I said lightbox I referred to the fullscreen view (that technically is a lightbox, no?).

I'm in a situation, where I use the renderItem to display an image with overlaying div inside the carousel view (like for example https://www.wonderplugin.com/wordpress-slider/). But when fullscreen is entered, it shouldn't render the overlay stuff, only the pure image.

I wo

[2017-01-17 16:17] xiaolin commented on #134
I think I understand what you are saying. You should be able to hide all your unwanted elements with CSS. When you enter fullscreen a new class will be added to the gallery container called `fullscreen`

You can then hide all your unwanted items
[code]

[2017-01-17 20:00] bkniffler commented on #134
Sure I could do that via css, but to achieve the overlay stuff I use the image as background-image inside a div and some other stuff that does not play well with the fullscreen view.

Of course I can adapt styles and hack my way around it. But do you really think it is so uncommon, that people might want to have their slides render differently in the carousel/fullscreen mode?

In my case, it is a

[2017-01-17 20:20] xiaolin commented on #134
Your current solution to me is clean and I think is the right way to go for your needs. Listenting to `onScreenChange` and then adjusting your `renderItem` function.

I don't see the benefits of adding it to the library vs your current solution.

[2017-01-17 21:39] #134 closed

[2017-01-18 01:23] bryan opened #136 "Decoupling / Deregistering"
I'm getting a warning when going back a page before the component is fully loaded, and it presents me with this error message. Is there anyway I can unregister the `ImageGallery` when the main componentWillUnmount so that I can prevent this error?

`Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a

[2017-01-19 20:44] xiaolin commented on #136
How can I replicate this? Are you sure `ImageGallery` is being removed after you unmount your component?

[2017-01-19 22:46] Josephjbliss opened #138 "Strange slide animation"
It seems when you jump to or from slide 1 from a slide past slide 3, you can see the last slide animate in just behind slide 1 but in front of the rest of the slides. I think it's a `z-index` thing ...

[2017-01-19 22:49] Josephjbliss commented on #138
Here's an example slowed way down:

!(image)[http://i.giphy.com/l3q2ZwcPw20d5NNJK.gif]

[2017-01-19 22:50] Josephjbliss commented on #138
Here is an example of the behavior:

![image](http://i.giphy.com/l3q2ZwcPw20d5NNJK.gif)

[2017-01-19 23:01] xiaolin commented on #138
@Josephjbliss I notice this when you set the `slideInterval` very high, I'll look into this when I get a chance.

[2017-01-19 23:02] Josephjbliss commented on #138
Thank you! I will also take a look at a solution / PR. It's especially noticeable when it's super high. I currently have it set to only `800ms` and it is problematic, though.

[2017-01-20 01:33] xiaolin commented on #138
FYI, as an immediate fix, if you are okay with using  `infinite={false}` it would make the problem go away.

[2017-01-20 16:01] xiaolin commented on #135
@Grustamli Let me know if you are still having this issue.

[2017-01-22 04:04] xiaolin commented on #138
@kamui @Josephjbliss I have a solution by adding a lower zIndex on the first and last slide, and adding a lock to prevent further `slideToIndex` based on `slideDuration`

[code]

What this ultimately does is prevent the user from clicking to a new slide until the next slide finishes its animation.

Do you guys think this is okay?

[2017-01-22 04:21] kamui commented on #138
Thanks! I'll take a look when I get a chance. Do you plan on releasing a new version soon?

[2017-01-22 04:22] xiaolin commented on #138
Yes, I will release this version tonight.

[2017-01-22 04:53] xiaolin commented on #138
@kamui @Josephjbliss released in 0.7.11

[2017-01-22 04:53] #138 closed

[2017-01-24 23:56] bryan commented on #136
It's hard to replicate since I'm using a full fledged project with routers. The problem is: when I go back a page, my project's router trigger the redirect in the next event loop/tick, so the ImageGallery component still renders, and then the redirect happens, so setState from ImageGallery is still called while being unmounted. I may need a way to stop setState if the current page is going to be u

[2017-01-26 21:15] xiaolin commented on #135
closing, feel free to reopen.

[2017-01-30 01:57] #136 closed

[2017-02-06 20:18] jspencer commented on #135
Not sure if it's the same as the original problem, but I ran into this when loading the page from a local file. It was trying to load the icons like so, which of course did not work.
file://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0

[2017-02-06 20:25] xiaolin commented on #135
Ah, yes these icons would not load if you are not using a local webserver.

[2017-02-08 06:20] Ancinek opened #143 "Exit full screen after clicking on the background."
It would be nice to add this feature. Many people just involuntarily click the black background trying to leave the full screen mode.

That plugin is awesome! Saved a lot o time 👍

[2017-02-08 09:07] Shadowman4205 opened #144 "Make Fixed Gallery Images Container"
Hello, i tried different things but i cannot make it happen.

I have got images with different sizes, some of them has got width>height and some width<height
Depend on img with default react-image-gallery, when i change img the gallery adjust to image height.
I do not want this, i want the gallery with fixed height and image resizing if width<height . What changes i have to do?  Something like in

[2017-02-08 09:18] #144 closed

[2017-02-08 14:22] giladbr opened #145 "On mobile web, two images are being slided on each click"
Hi,

When emulating mobile in Chrome or when trying on Samsung/LG phones, clicking on the arrows slides *two* slides instead of one. [Demo here](https://www.lastminutetravel.com/hotels/details?hotelId=293118&startDate=2017-02-15&endDate=2017-02-16&adults=2&children=).

Also, upon the first slide, the following warning pops up, but I don't know if it's connected:
`Unable to preventDefault inside pa

[2017-02-08 15:16] xiaolin commented on #143
Normally there shouldn't be too much of a black background, full screen takes the entire screen and are not meant to behave like a modal/lightbox. The example does a poor job at showing full screen images because of the image ratio.

Maybe a lightbox/modal solution makes more sense.

[2017-02-08 15:19] Ancinek commented on #143
You are right. I did not noticed that.
Lightbox/modal would be a great advantage. I will try to modify your plugin and see what I can do, but I am a newbie when it comes to JS.

[2017-02-08 15:20] xiaolin commented on #145
I'm unable to replicate. What version of `react-image-gallery` are you on?

[2017-02-08 16:36] giladbr commented on #145
0.6.7. Please note this only happens when on mobile emulation in Chrome.  Please see: https://www.youtube.com/watch?v=34PaGkJbSzY

[2017-02-08 16:41] xiaolin commented on #145
Thats interesting, I also tried it on mobile emulation on Chrome, but I'm on OSX Chrome Version 55.0.2883.95 (64-bit).

The latest release is `0.7.12` wanna give that release a shot?

[2017-02-08 18:21] giladbr commented on #145
I'm on windows 10. But this also happens on real Samsung and LG devices...

[2017-02-09 01:47] xiaolin commented on #145
Can you try the [demo gallery](http://linxtion.com/demo/react-image-gallery/), and see if it still happens on the LG device?

[2017-02-09 10:10] giladbr commented on #145
Updated to `0.7.12`, solved the bug immediately, plus I got for free a full-screen button + play/pause + prettier arrows!!!! Way to go!!!! Closing the issue :-)

[2017-02-09 10:10] #145 closed

[2017-02-20 10:28] hdzidic opened #149 "React warning"
Getting the following warning from react:

`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of Component_name. See https://fb.me/react-warning-keys for more information.`

Any chance we can pass keys with the items prop?

[2017-02-20 16:02] xiaolin commented on #149
Keys are currently set when iterating through items prop and using the [index](https://github.com/xiaolin/react-image-gallery/blob/master/src/ImageGallery.jsx#L791) as the key.
What is `Component_name`?

[2017-02-20 23:06] xiaolin commented on #135
released in 0.7.13

[2017-02-20 23:06] #135 closed

[2017-02-20 23:39] xiaolin opened #150 "Clean up code. Add more comments."

[2017-02-20 23:40] #150 closed

[2017-02-21 07:24] hdzidic commented on #149
It's just a component the ImageGallery is in. Here's how I set it:

`<ImageGallery items={this.createImagePaths()} slideInterval={1000} showFullscreenButton={false} showPlayButton={false}/>`

This is a snippet of the createImagePaths method:

`pictures.forEach((picture) => {
      let picturePath = {};
      picturePath.original = picture.path;
      picturePath.thumbnail = picture.path;
      pic

[2017-02-22 07:24] jasan-s opened #151 "Adjusting swipe smoothness"
Is it possible to adjust swipe resistance to achieve more smooth animation.

[2017-02-22 14:46] xiaolin commented on #151
You can adjust the `slideDuration` to either make it last longer or shorter, the current default is `450ms`

[2017-02-22 16:49] xiaolin commented on #149
Thats odd, if you're passing in an array of objects you shouldn't be getting the unique key warning. Is `ImageGallery` the only component you are rendering in your `Componenet_name`?

[2017-02-22 21:35] hdzidic commented on #149
No, but the stack trace points to the method that renders the `ImageGallery`. I'll try this in a clean component and let you know.

[2017-02-24 14:46] xiaolin commented on #151
@jasan-s did this solve your issue?

[2017-02-24 22:44] jasan-s commented on #151
@xiaolin , Thanks that improved the swipe experience quite a bit, but is the resistance of each swipe adjustable as well? I mean to say the swipe threshold to where the image falls back instead of transitioning.

[2017-02-26 23:05] kunokdev commented on #144
any solution to this?

[2017-02-27 01:15] xiaolin commented on #151
ah, the swipe threshold is not currently adjustable, but is very easy to add. If no PR is opened I can add it sometime this week.

[2017-02-27 01:23] jasan-s commented on #151
😁 thanks

[2017-02-28 15:34] harrington101 opened #153 "Accessibility"
I'm trying to make my site more accessible to pass a WAVE Accessibility review but the image gallery is causing it to fail because the various buttons are not labeled. Can this component be updated to make use of aria-label on the bullets, play, full screen, left, and right buttons? Something like aria-label="slide 1", aria-label="slide 2", aria-label="next slide", etc.

[2017-02-28 16:13] harrington101 commented on #153
Great! I just sent it. #154

[2017-02-28 16:15] rockchalkwushock opened #155 "[Question] Sizing images"
I see there is a property `sizes` on the `items` prop. Is that a way to set sizes for different viewports or is this where an array of the same image is stored just at different sizes?

[code]
Could you possibly provide a small example snippet?

[2017-02-28 16:18] xiaolin commented on #155
It's an HTML5 attribute on `img` see https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images

[2017-02-28 16:20] rockchalkwushock commented on #155
@xiaolin

ah I see now thanks for the quick response & great package! Very developer friendly. Closing issue.

[2017-02-28 16:20] #155 closed

[2017-03-01 20:19] xiaolin commented on #153
closing this as its released in v0.7.13

[2017-03-01 20:19] #153 closed

[2017-03-02 07:18] hazboun opened #156 "Handling manual Open/Close gallery examaple"
First of all, thank you so much for this wonderful library!

I'm trying to manually launch the gallery from a different location in a page and would really appreciate an example of how to achieve that.

Thanks

[2017-03-03 14:41] solancer opened #157 "how to set height,width,x and y values on the gallery?"
I'm trying to define Width, Height, X and Y cordinates for the gallery in my app. But it doesn't seem to take any css values.

[code]

[2017-03-03 15:01] xiaolin commented on #157
You override the CSS.

The `style` prop is not a prop the component accepts. See the list of accepted props in readme.

[2017-03-03 15:03] xiaolin commented on #156
What do you mean by launch the gallery from a different location?

[2017-03-03 17:16] hazboun commented on #156
I'm using the gallery to show a bunch of images at the bottom of a page, but I also have a master photo at the very top where I want to allow users to click on it and launch the same gallery.

[2017-03-03 17:24] xiaolin commented on #156
I suggest you google for a solution here, this seems very specific to your use case and I'm still confused what you mean by "launch the gallery" does launch mean open the gallery in a modal? or Navigate to a new page with a modal?

[2017-03-03 17:27] hazboun commented on #156
What I'm trying to achieve is to call the same function that FullScreenButton does. I see in the docs fullScreen() function but how can can I call it?

[2017-03-03 17:32] xiaolin commented on #156
Ah,  you call it by assigning a ref e.g.

[code]

[2017-03-03 17:33] hazboun commented on #156
Wonderful, thanks a lot for the help :)

[2017-03-03 17:36] xiaolin commented on #156
take a look at the example app in the repo, has lots of examples on using the functions and taking advantage of the props.

https://github.com/xiaolin/react-image-gallery/blob/master/example/app.js

[2017-03-03 17:38] hazboun commented on #156
Thanks! Must say this is really well-built and powerful library you got there!

[2017-03-04 23:46] solancer commented on #157
@xiaolin is there any way I can do it inline? If I need to modify your code to add style as a prop to ImageGallery, would it work?

[2017-03-05 23:22] jcheroske opened #158 "Jank when resizing"
When resizing the window, the `handleResize` function is called with every window resize event. This is causing excessive delay in the screen refresh. The profiler is also showing too much time being spent in `handleResize` and its sub-functions. Putting a throttle of 500ms on the firing of `handleResize` fixed the problem.

[2017-03-06 06:09] jacobeverist opened #159 "how to center or align the image in image-gallery-image"
I overrode the default CSS with some custom CSS to limit the maximum size of the image.  Previously it was expanding to the entire container which caused portrait images to drop below browser window.

I am trying embed a custom video application in the image gallery, but I am struggling with centering the thumbnail and the embedded player.  Can you give advice?

Here is my custom CSS:
[code]

I cr

[2017-03-06 15:05] #156 closed

[2017-03-06 15:06] xiaolin commented on #149
Let me know if this is still an issue, otherwise we can probably close it.

[2017-03-06 15:10] xiaolin commented on #159
try adding

[code]

[2017-03-06 15:12] xiaolin commented on #157
@solancer Is there any reason you can't override the CSS? If you modify the code yes you can add a style as a prop, but currently the library is not ready for inline styles.

[2017-03-06 17:38] jacobeverist commented on #159
Sadly that didn't work.

One thing I noticed is that the image is on the left and the description is all the way to the right.   Seems like there is some weird interaction going on.

I'm looking at this section in your CSS, and trying to figure what might be happening.  Perhaps it is reacting with other CSS in my application.

[code]

[2017-03-06 17:48] xiaolin commented on #159
Just double checking that you added text-align property to `image-gallery-slides` and not `image-gallery-slide` those two class names are very similar.

[2017-03-06 18:37] #157 closed

[2017-03-06 19:35] jacobeverist commented on #159
I did correct.  Just to be sure, I did it again.  I added the field like so with no change in the rendering result:

[code]

[2017-03-06 19:41] xiaolin commented on #159
Thats odd, I tried the same using the demo url and adjusting the width on the images to be smaller and it worked. Maybe some issues with css not being applied or being overwritten. Can you inspect the element and check the styles were applied?

[2017-03-07 02:18] jacobeverist commented on #159
When I reverted to the demo code, the images centered just fine with the `text-align: center` tag.  So I know there was something strange going on with the embedded video.

Figured it out.  2 things I had to solve.

First, the <div> containing the iframe of the embedded video was using the Bootstrap "row" class which was overriding the margins and fixing it to the left side of the screen.

Second,

[2017-03-07 02:18] #159 closed

[2017-03-07 14:08] KristiBuda opened #160 "Resize the image sizes not working."
The response from the server is coming in this form
{
      original:  'http://static301.tiendeo.com/images/tiendas/188882/catalogos/413001/paginas/med3/00006.jpg',
      thumbnail: 'http://lorempixel.com/250/150/nature/2/',
      sizes: '150x150',
    },

But the images are not changing size

[2017-03-07 14:09] #160 closed

[2017-03-08 22:43] MarvinAmador7 opened #161 "full width gallery container"
Hi guys, any idea on how to make the gallery full width? (skipping css override)

[2017-03-09 12:15] abonec opened #162 "set max height for gallery container"
I have many photos and they are in different orientations (some are in horizontal and some are in vertical) in different gallery sets (all photos in gallery almost always has a horizontal or a vertical orientation). Wide images is almost look fine with default settings but tall images look awful
![image](https://cloud.githubusercontent.com/assets/240587/23749809/12f6e854-04db-11e7-80a0-2448f400b26

[2017-03-09 17:01] xiaolin commented on #162
you need to set the height on the image itself so it should be
[code]

[2017-03-09 21:41] xiaolin commented on #161
The gallery, by default takes the full width of its container, I'm not sure what you mean.

[2017-03-10 10:16] abonec commented on #162
And how to cancel this in fullscreen? If I set `max-height: none` very tall image are not fit in screen and thumbnails is out of a screen.

[2017-03-11 23:45] #149 closed

[2017-03-11 23:45] #143 closed

[2017-03-11 23:47] xiaolin commented on #162
There is a `fullscreen` class added to the gallery once its in full screen mode if you need different css for fullscreen and non fullscreen. Since this is a CSS question and unrelated to the library I'm closing this.

[2017-03-11 23:47] #162 closed

[2017-03-11 23:49] xiaolin commented on #161
did you solve your issue?

[2017-03-13 08:22] abonec commented on #162
Can you add something like 'non-fullscreen' class to stylish only standard view?

[2017-03-13 13:52] xiaolin commented on #162
You shouldn't need that. You can nest css classes.

[code]

[2017-03-14 06:57] abonec commented on #162
I know that, but I set property to `.image-gallery` and should cancel it in `.image-gallery.fullscreen` instead of just set in once in `.image-gallery.non-fullscreen`

[2017-03-14 14:10] nevakee716 opened #163 "Vertical Image"
When I use vertical Image, the component doesn't resize it correctly. The images still uses the full width of the container, instead of using the full height

[2017-03-14 15:11] xiaolin commented on #162
ah, that should be easy enough to add, if you like open a PR, and I can merge it.

[2017-03-14 16:07] xiaolin commented on #163
@nevakee716 You'll need to adjust the gallery css as it does not know the different heights of your images.

[2017-03-15 05:59] vrpruthvi opened #164 "Pause auto play on mouse over in desktop"
Thanks for the plugin 👍 . Is it possible to pause carousel on mouse over when auto play is ON?

[2017-03-16 02:42] xiaolin commented on #151
@jasan-s release v0.7.14 has a new prop called `swipingTransitionDuration` to adjust the transition in milliseconds while swiping.

[2017-03-16 02:42] #151 closed

[2017-03-16 02:44] xiaolin commented on #158
Released in `v0.7.14`

[2017-03-16 02:44] #158 closed

[2017-03-16 09:14] solancer opened #166 "Custom animation on slide (image transitions) apart from slide"
I'm trying to add 3 different types of animation for the image slide animation.

In the source I see that your setting a transition style can this be modified to achieve fade, zoom or any other animation transition on image slide?

[code]

[2017-03-16 13:59] achtan opened #167 "if useBrowserFullscreen is true, i cannot exit fullscreen mode"
there is no cancel-fullscreen-button, keyboard `ESC` press dont to anything as well

[2017-03-16 23:42] xiaolin commented on #167
What browser are you on? There is also a button to cancel full screen

https://d1zjcuqflbd5k.cloudfront.net/files/acc_418933/1EyP?response-content-disposition=inline;%20filename=Screen%20Shot%202017-03-16%20at%2019.42.37.png&Expires=1489708065&Signature=EMH08~rdwuo0QLkRi9xIkmW3AeBtfjhROsp~LmOCI1DMptH4un4LuLuilwnV6VEiQ-hTmnbhflAxNMX8Wr-gIO-F8TGHibECCpcAIgZ-XyDjF1anyft8OUiLto~oW8QpfYmDBM8F14TOoT3PGX

[2017-03-17 08:33] achtan commented on #167
oh now i see, the problem is in screen ratio:
![screenshot 2017-03-17 09 30 15](https://cloud.githubusercontent.com/assets/1048212/24035132/904e690c-0af4-11e7-9c88-1feeaf88f80f.png)
vs
![screenshot 2017-03-17 09 30 38](https://cloud.githubusercontent.com/assets/1048212/24035140/9edc7540-0af4-11e7-8688-6d98527b1a7f.png)

but `ESC` key still not working (should i open new issue for this? )

[2017-03-17 13:48] xiaolin commented on #167
This is not an issue because the gallery does not predict image ratio/sizes instead use css to adjust the gallery to your needs.

[2017-03-17 14:11] achtan commented on #167
ok, and what about ESC key press ?

[2017-03-17 14:16] xiaolin commented on #167
Oh, that I'm still curious about, based on your screenshots, it seems you didn't actually use the browser fullscreen API, what browser are you on? Normally you're whole screen should be blocked off, like when you full screen a video.

[2017-03-17 14:26] achtan commented on #167
i'm using `useBrowserFullscreen: false`

browser: Chrome 56.0.2924.87 (64-bit)

[2017-03-17 14:43] achtan opened #168 "ESC button in useBrowserFullscreen: false"
continue of #167

[2017-03-17 14:43] #167 closed

[2017-03-17 15:32] achtan opened #169 "when useBrowserFullscreen is false thumbnails are 'silded' away with first image"
![mar-17-2017 16-31-02](https://cloud.githubusercontent.com/assets/1048212/24050486/3d1d19f0-0b2f-11e7-9856-c8dcb0d760f9.gif)

[2017-03-17 23:08] jordanoverbye commented on #166
+1

[2017-03-17 23:43] xiaolin commented on #166
@solancer There is no such transition property called `fade-in` but I've adjusted the transition property to be applied to all transitions in v0.7.15

[code]

This way you can override the css classes and all transitions will take affect.

e.g.
overriding the following css will allow you to add the fade affect

[code]

[2017-03-17 23:50] xiaolin commented on #169
I can't replicate this, I've set `useBrowserFullscreen=false`, and the thumbnails are working.

[2017-03-17 23:55] xiaolin commented on #164
This caused a lot of issues especially on mobile so this is something I won't be adding to the library.

Instead you can wrap the library in your own container, and `onmouseover` you can call the component functions `pause()` and `play()` to accomplish your requirements.

[2017-03-18 00:03] #163 closed

[2017-03-18 00:03] #161 closed

[2017-03-20 04:20] #164 closed

[2017-03-20 21:33] achtan commented on #169
can u try it with only two images in gallery?

[2017-03-30 04:54] axelerate opened #172 "Cannot set size"
I have tried looking up the rather obscure practice of specifying img sizes using HTML5's sizes and srcSet and have been not been able to successfully apply to the gallery's image. Is there any way to scale an image to a predefined size?

[2017-03-31 03:22] kamui opened #173 "Next arrow on last slide causes the previous slide to transition on top of it"
This regression was introduced in 0.7.15 and doesn't exist in 0.7.14 and occurs in Safari, works fine in Chrome.

If you have 3 slides, infinite scroll is on, and you click to the last slide, clicking the next arrow causes the previous slide to slide on top of the current slide to the right.

It used to slide behind, so you couldn't see it being moved.

Here's a clip of it occurring:

https://www.

[2017-04-03 01:30] ajwagner777 commented on #173
Similar issue here.  I am using a custom renderer to make text-based slides.

I slowed down the animation to see it in action.

Here's my code:

[code]

testimonialRenderer:

[code]

Gonna make a stab at getting it fixed.  I suspect it's z-index related (it always is... ).

[2017-04-03 01:39] xiaolin commented on #173
If its working a patch ago then probably something that can be tracked by commit history. I can take a look(if there are no prs) when I get back next week.

[2017-04-03 01:43] ajwagner777 commented on #173
It's not a perfect solution, but it is passable enough for the time being (sorry, don't have time for a PR... deadlines... ):

In your CSS, override the z-index for the left, right and center classes.  Like so (in sass):

[code]

[2017-04-03 11:43] cpBurn opened #174 "Slider stops half way"
On mobile you can swipe and left or right and move your finger downwards, once you leave the container the slider stops with the image sliding half way.
<img width="1105" alt="screenshot at apr 03 13-40-48" src="https://cloud.githubusercontent.com/assets/4061253/24607715/64ef7954-1873-11e7-8e4b-6bc984e5c6fc.png">

[2017-04-05 06:07] jam35L opened #175 "Lazy Load False for more than 85 images causes iOS Safari/Chrome to crash"
First off, thank you for making this wonderful React Component. You've done a great job!

The issue:
When loading a lot of images and lazy load is set to false, iOS browsers will crash.

Cause:
iOS browsers are limited to ~10mb of GPU accelerated image elements.
You can read more about that [here](https://medium.com/@MerciMichel/don-t-abuse-enabling-gpu-acceleration-on-ios-95520da2428)

So we if w

[2017-04-05 06:46] jam35L commented on #175
Pull request created [here](https://github.com/xiaolin/react-image-gallery/pull/176)

[2017-04-10 02:39] zcgu commented on #172
Also tried to use sizes parameter but out of luck. Then I override the `renderItem` to set the height and it works:

[code]
I believe you can do the same thing to width as well.

[2017-04-11 18:28] xiaolin commented on #173
@kamui I could not reproduce this using the `example/app.js` file in the project, any chance there might be a css collision?

[2017-04-11 20:59] xiaolin opened #178 "Update to use prop-types package for react 15.5"

[2017-04-14 01:03] kamui commented on #173
I'll try to replicate it again.

[2017-04-14 13:04] cyresseguier commented on #173
Similar issue as above. Visible on Chrome last version or Safari last version

[2017-04-17 01:43] xiaolin commented on #172
Browsers will cache the sizes so if a larger size is already loaded, it won't attempt to load the lower resolution one despite the change in width. If you want to see your `srcSet` in action, I suggest you first open your browser in incognito mode set the width of the browser then load the gallery to test.

Using below as an example if you open incognito mode and adjust your browser to  <= 420widt

[2017-04-17 01:46] xiaolin commented on #169
I just tried it with two images, and still unable to replicate with `useBrowserFullscreen=false`

[2017-04-17 10:56] deathlover opened #179 "Only Video"
Can videos be used in slider directly? if yes? what should be done?

[2017-04-17 13:46] xiaolin commented on #179
Take a look at the example app.js file and see how youtube videos are implemented.

https://github.com/xiaolin/react-image-gallery/blob/master/example/app.js

[2017-04-17 13:56] deathlover commented on #179
thank you for reply.

New in react js could you please help me with the syntax for calling this syntax for calling the script.

 <ImageGallery showVideo = {true} item=[{embedUrl:url1, embedUrl:url2}]/>

[2017-04-17 14:00] xiaolin commented on #179
I suggest doing some tutorials in react to understand it better. The `showVideo` state does not belong to `ImageGallery` but belongs to the example `App` component.

[2017-04-17 14:06] deathlover commented on #179
Had succesfuly implemented for series of images

Trying to create a gallery of only videos, had tried every possible way. but no success.

Can you please help me with, how to give a call for your mentioned URL.

[2017-04-17 14:14] xiaolin commented on #179
You need to override the `renderItem` property and render your own component within that custom renderer. See documentation about `renderItem` for more information and https://github.com/xiaolin/react-image-gallery/blob/master/example/app.js#L140

[2017-04-17 19:14] achtan commented on #169
problem was in my css... we van close this one,

[2017-04-17 19:14] #169 closed

[2017-04-18 09:20] deathlover commented on #179
Thanks @xiaolin
Successful with rendering of all type of media.
Excellent library.

[2017-04-18 13:30] xiaolin commented on #179
awesome! I'm closing this.

[2017-04-18 13:30] #179 closed

[2017-04-20 01:40] NinaKong opened #180 "Cannot import properly"
Hi Xiaolin,

Thanks for this awesome project.

I try to import it in my React project, and I got an error like below:

warning.js?8a56:45 Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components).

Uncaught Error: Element type is invalid: expected a string (for built-in components) or a

[2017-04-20 14:35] xiaolin commented on #180
Hmm, I don't see anything specific to this package in the stacktrace, take a look at the link below and it might fix your issue.

https://github.com/ReactTraining/react-router/issues/2220

[2017-04-26 01:31] xiaolin commented on #180
Were you able to fix your issue?

[2017-04-26 01:33] xiaolin commented on #172
Closing this, feel free to reopen if necessary.

[2017-04-26 01:33] #172 closed

[2017-04-26 01:35] #166 closed

[2017-04-26 01:54] NinaKong commented on #180
@xiaolin
Hi Xiaolin,
Thanks for asking.
Yes, the link you send to me is really helpful, I have fixed my issue.
Thank you so much for your help.

[2017-04-26 03:31] #180 closed

[2017-04-26 11:48] udhayakumargururaj opened #181 "How to use customized styles to this component"
Hi,

we have application where we are using css_modules to convert styles to specified format. when we use this component, css is not applied.

Is there a way where we can pass customized styles to this component.

[2017-04-26 13:49] xiaolin commented on #181
Did you import/include the css files in the package?

There is currently no way to pass in customized styles in the component.

[2017-04-27 14:04] tamirhuber opened #182 "Re-render entire gallery"
Hello,

I'm getting the images via user url input, and when the user changes the url, i would like the entire gallery to render itself to the new images array.
the app.state.items is changing as well as the Gallery prop, but somewhat the ImageGallery is not.

`export default class Gallery extends React.Component`
`{`
` render() {`
`    return (`
`        <div>`
`        Gallery      `
`        <Im

[2017-04-27 14:13] xiaolin commented on #182
You'll need to re-render the gallery when your `items` change you should be using this.state.items in your custom `Gallery` component

[code]

[2017-04-28 14:13] mpluempe opened #183 "LazyLoading doesn´t work at all"
Hi, I´m sorry to bother (kind of last resort thing here for me), but although the lazyLoad-Prop is set to true, at all times all images are instantly loaded. I´m not talking about thumbnails, but the original images!
I´m working with version 0.7.15, but tried to use other versions as well. But it was always the same thing, all images loaded instantly.

[2017-04-28 14:34] tamirhuber opened #184 "can't get renderRightNav working.."
hey,

I have got the following component -

[code]

and i tried to add the renderRightNav function since i need to update the state as it pressed and cant figure out where and how to use it.
Thanks

[2017-04-28 17:31] xiaolin commented on #183
I just tried the example and its working for me. I checked the network tab on chrome to make sure the other image slides did not load.

[2017-04-28 17:34] xiaolin commented on #184
`renderRightNav` is passed in as a prop, take a look at the src and get that working first, then you can try overriding it

Use below for example (untested).
[code]

[2017-04-28 18:03] tamirhuber commented on #184
ok, thanks.
and how can i use the getCurrentIndex function inside myRenderRightNav?

[2017-04-28 18:33] xiaolin commented on #184
Using the ref you assigned `this._imageGallery.getCurrentIndex()`

[2017-04-28 18:42] tamirhuber commented on #184
OK, for some reason it didn't work, I'll try to figure it out later.
Thanks

[2017-04-28 18:44] xiaolin commented on #184
make sure  you use an arrow function for your `myRenderRightNav` or you'll have to add a bind for it `<ImageGallery renderRightNav={myRenderRightNav.bind(this)}/>`

[2017-04-28 18:45] tamirhuber commented on #184
Yes I know. I'll try to get it to work and be in touch. Thanks again

[2017-04-29 12:28] tamirhuber commented on #184
I've added and bind it as you said above, but still can't figure out where to add my  custom code, for example i would like to alert when clicking on the next nav, but if i just add alert function it fires right when page load.

[2017-04-29 13:55] mpluempe commented on #183
I guess i found out what my mistake is. I expected just one image to be loaded, when lazyLoad is activated, but it seems there are three images loaded to start the gallery. Most of the galleries I have only have three images, so you can see my confusion. Matter of fact this is a no-go for my client...

sry to have you bothered and thx for the component and your answer to my query!
Have a nice week

[2017-04-29 13:55] #183 closed

[2017-04-29 18:48] tamirhuber commented on #184
Ok, so i figured out that as it runs, `this._imageGallery` is set to null and only after a moment it get the object.  And managed to use the renderRightNav, but somehow i cant add custom functions to it without be fired onload. I did -

[code]

[2017-04-30 02:16] tomasztomys opened #185 "Hover on image doesn't stop animation"
Hover on image doesn't stop animation (but docs tell that animation should pause if hover). Can you fix it?

[2017-04-30 02:25] xiaolin commented on #185
This was removed on purpose back in #71  where in the docs does it say it will pause on hover?

You can also add it yourself by adding a onhover on a container element that wraps ImageGallery and calling `pause()`, `play()`

[2017-04-30 02:27] xiaolin commented on #185
Ah its the play function docs, I have to update that!

[2017-04-30 11:23] tamirhuber opened #186 "any way to add title attribute to images?"
I would like to use the html title attribute on the images in the gallery, is there a way to add them?

[2017-04-30 14:19] tomasztomys commented on #185
I think that it should be in "standard", even default

[2017-05-01 03:59] xiaolin commented on #186
To add it now you would have to override the `_renderItem` method and add a title property.

I'll add a todo and try to get this in the next release.

[2017-05-02 16:08] kevinlaw91 commented on #173
Same issue in FF53 and Edge 40. Works correctly in Chrome.

[2017-05-02 20:33] harrington101 opened #187 "Accessibility"
I recently had an audit on my website for accessibility and this component did not pass for a couple of reasons. Can we update it so that it passes?

**1. Invisible content read out by Screen reader**
The captions for the slides that are off the edge of the page are being read by the screen readers before they appear on the page. Could we add an aria-hidden attribute or display:none to the off scr

[2017-05-03 11:31] ShindouHikaru opened #188 "Maybe a lazyload bug?"
If i scroll to 6th item, i think the 2nd,3rd,4th,5th items shouldn't be loaded, but i find it send request in chrome Dev Tools. And if can set preload count will be better, now is 1 item. :)

[2017-05-07 00:11] xiaolin commented on #188
It can be further optimized, i'll label this as a feature, since the current behavior is intentional.

[2017-05-07 00:15] xiaolin commented on #187
Feel free to open a pr for this.

[2017-05-07 00:16] #184 closed

[2017-05-07 00:16] #182 closed

[2017-05-07 00:16] #181 closed

[2017-05-07 00:17] xiaolin commented on #175
merged #176

[2017-05-07 00:17] #175 closed

[2017-05-07 00:20] xiaolin commented on #185
Ideally would like help on this. The ideal solution should cover these cases

- `onmouseover` stop the current slide (only if its playing)
- `onmouseleave` resume the current slide (only if its playing)
- `onmouseover`/`onmouseleave` events are not activated on touch screens

[2017-05-07 00:21] #174 closed

[2017-05-07 00:28] xiaolin commented on #173
I'm able to see a weird flicker on ff53, very odd.

[2017-05-10 11:44] JordyVialoux opened #191 "Warnings and Depreciated code"
I am using "react": "^15.4.1" and the following errors appear in my console:

Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

Warning: Swipeable: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a

[2017-05-10 16:43] #191 closed

[2017-05-11 02:32] xiaolin commented on #178
fixed in v0.8.0

[2017-05-11 02:32] #178 closed

[2017-05-14 20:22] sunlee-newyork opened #192 "Disable key stroke navigation"
Hi there, thanks very much for the gallery!

Is there a way to disable the key stroke event listener so that the left arrow or right arrow does not trigger gallery navigation?

Cheers!

[2017-05-14 20:24] sunlee-newyork commented on #192
Ooops, sorry I skimmed too fast and didn't see `disableArrowKeys` in the README. Thank you!

[2017-05-14 20:24] #192 closed

[2017-05-15 06:09] TheDolo commented on #185
I would actually like to hover on image to start play(), and no hover stop(), if possible!

[2017-05-15 11:19] sureshHARDIYA commented on #187
Ran into same issue on my apps too. I would be great to have included.

[2017-05-15 12:17] sureshHARDIYA opened #193 "Allowing markup on description"
I see the issue about [allowing markup as already been closed here](https://github.com/xiaolin/react-image-gallery/issues/25).

I am using the package to render slideshow on my application. Has served my purpose except there are few problems I came across recent:

1. I need to render description that contains links and and normal HTML tags `[strong, i, em]`
2. Description needs to be selectable. C

[2017-05-15 23:59] xiaolin commented on #193
You can use the custom render method to render any kind of description html you like, look at the readme documentation on `_renderItem`

The reason description is currently not selectable is because there is a css applied to the gallery with `user-select: none`. You can override that and you'll be able to select it.

[2017-05-16 06:22] sureshHARDIYA commented on #193
Yes, I saw the alternative approach on the documentation. Thanks for linking me again. I guess that serves my purpose, but still would be happy to see package going towards ease of use. I will close the issue. Thanks. :)

[2017-05-16 06:22] #193 closed

[2017-05-16 10:57] JordyVialoux opened #194 "Any way to prevent Fullscreen?"
Is it possible to prevent fullscreen but still have the images resize to a larger size? Like a lightbox almost? I've been trying to edit the raw .jsx file and the changes won't display.

[2017-05-16 20:21] xiaolin commented on #194
You can turn off the fullscreen feature and implement your own lightbox by adding an `onClick` to the gallery properties.

[2017-05-19 04:56] SemenKireev opened #195 "Problems with full-screen mode"
(Translated from Russian by Google)
Hi. I'm having problems with working in full screen mode. That it was understandable in what I provide the screenshots. I use the package with a Twitter Bootstrap.
![2017-05-19 11-45-09](https://cloud.githubusercontent.com/assets/10635206/26233809/31a0ef0c-3c8a-11e7-8173-d40db75cd5c0.jpg)
![2017-05-19 11-45-18](https://cloud.githubusercontent.com/assets/10635206

[2017-05-19 14:49] xiaolin commented on #195
The first screenshot can be fixed with some css adjustment.

I'll add some logic so its a bit smaller on mobile for the next release.

I'm not sure whats going on in the second screenshot, I'm not sure why your thumbnails are out of view. Its not happening in the [demo](http://linxtion.com/demo/react-image-gallery)

[2017-05-20 10:35] SemenKireev commented on #195
Yes, in the demo version everything works fine. Maybe something from other packages affects the work.
Interestingly, in the browser Mozilla (tested on the versions under Windows and Ubuntu) full-screen mode also works poorly, this also applies to the demo version.
![2017-05-20 17-26-49](https://cloud.githubusercontent.com/assets/10635206/26275070/93b014fe-3d82-11e7-9825-6ea8d5852555.png)
![2017-05

[2017-05-20 15:17] xiaolin commented on #195
Full screen on the demo might not fit in your screen, you'll have to adjust the css.

If your monitor is above 2000px it will stretch the gallery because its set to have 100% width. Its up to you to adjust the fullscreen css to fit all your required screen sizes.

[2017-05-20 15:24] #194 closed

[2017-05-29 13:11] Vyprichenko opened #196 "Strange initial animation when startIndex is set"
Hi!
I've noticed a behavior that seems a bit strange for me: when ImageGallery is rendered with startIndex > 0 it animates thumbnails container positioning it initially to start with active thumbnail, then moves it back to thumbnail #0.
Reproduction of this issue on the last version of react-image-gallery:
![image_gallery_startindex](https://cloud.githubusercontent.com/assets/15525203/26551003/22e

[2017-06-01 12:38] kunokdev commented on #48
What about thumbnail sizes?

[2017-06-03 17:21] xiaolin commented on #196
I'm unable to reproduce I've tried chrome,firefox and safari. Both active thumbnail and slide are correct.
![screen capture on 2017-06-03 at 13-19-12](https://cloud.githubusercontent.com/assets/1286776/26755648/8a03017c-485f-11e7-938a-be3b10cc5b74.gif)

[2017-06-03 22:15] xiaolin commented on #188
After looking into this, the current behavior is intentional. The current index is loaded along with the previous and the next. This way if you're swiping left or right you won't see a blank image.

On initial load if you're on index 0, index 1(next slide) will load, along with index N (previous slide).
If you slide to the 6th item, index 5 and index 7 will load to allow sliding left and right wit

[2017-06-03 22:15] #188 closed

[2017-06-04 23:23] xiaolin commented on #173
This is now fixed in the latest release `v0.8.1`

[2017-06-04 23:23] #173 closed

[2017-06-04 23:24] xiaolin commented on #195
This is now fixed in the latest release v0.8.1

[2017-06-04 23:24] #195 closed

[2017-06-04 23:25] xiaolin commented on #186
In the latest release `0.8.1` you can pass down props `originalTitle`, and `thumbnailTitle`

[2017-06-04 23:25] #186 closed

[2017-06-04 23:25] xiaolin commented on #168
This is fixed in `0.8.1`

[2017-06-04 23:25] #168 closed

[2017-06-04 23:41] xiaolin commented on #125
@pablopaul I know its a bit late, but the latest release of the library `0.8.1` will fix the transparent image issue you were having.

[2017-06-05 00:34] xiaolin commented on #187
I fixed 4 in a recent commit.

[2017-06-05 11:04] pablopaul commented on #125
@xiaolin Thanks for the heads up, can you point me to the exact code change which solves the problem?

[2017-06-05 14:25] xiaolin commented on #125
@pablopaul https://github.com/xiaolin/react-image-gallery/commit/b08f3bf5c39454a8eb201ac57368150e87080be0

[2017-06-07 10:21] ShindouHikaru commented on #188
Yes, you're right, my wrong, i just tested it, if i click index 11, just loaded 10, 11, 12.  Sorry for my miss

[2017-06-07 14:04] jahglow opened #199 "SVG icons instead of font"
Hi, please make all the icons use svg icons from material.io/icons instead of a font. Today font didn't load from repo and shows boxes instead of font characters. There won't be a performance overhead if you just paste in svg code into JSX inside button tags and expose their hover color class to be overriden. I think that would definitely save another load for external server and reduce the redund

[2017-06-13 14:22] Vyprichenko commented on #196
Thank you for your reply.
There is no problem with the thumbnail and slide number, I was talking about animation which appears when startIndex> 0: thumbnails bar is moving left, then goes back. I can see it on your record too.
In my case I have two galleries: one small built into page and one full screen (custom, not the same as yours). When user clicks on a small gallery, the full screen is rende

[2017-06-16 14:04] Arsolio commented on #158
Hello @xiaolin  . I'm using your module with [react-responsive](https://github.com/contra/react-responsive) . On big and small devices i'm using different components, that's why on resizing imageGallery can be unmounted. But on fast resize i get:
"Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a n

[2017-06-21 10:08] 4muzar opened #200 "Provide onThumbnailClick prop"
Hi!

This component is awesome and fits to my project nearly perfect.
But in my case I have to hide main image, show only thumbnails and enter to full screen mode on thumbnail click.

So I suggest to add `onThumbnailClick` and `hideMainImage` props. `slideWrapper` has to be shown on full screen mode.
Having these props, I can do the rest of work by myself.

What do you think about these features?

[2017-06-21 13:51] xiaolin commented on #200
Adding a `onThumbnailClick` is okay, but `hideMainImage` is unique to your use case. You should be able to hide the the images with css.

[2017-06-22 17:05] lfender6445 opened #201 "Is it possible to capture onSwipeEnd as an event?"
Looking over the code i'm a little unclear how to capture that a touch transition has ended, is this possible?

_________

edit thinking about this some more i might be able to hook into `onTouchMove(evt)` and do my own touchend

[2017-06-23 10:01] Arsolio opened #203 "Warning on unmount during resize"
If you unmount component during resize, you'll got warning:

"Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the ImageGallery component."

It can be reproduced for example with [react-responsive](https://github.com/contra/react-responsive).  It's issue mostly for

[2017-06-23 14:19] xiaolin commented on #203
Merged, and planning to release this tonight.

[2017-06-23 15:16] 4muzar commented on #200
Okay, I agree.
I'll add `onThumbnailClick`

[2017-06-23 18:24] ajmajma opened #205 "Swipe up/down to scroll page outside of gallery"
Hello. I am implementing this gallery in a project and am running into an issue on mobile where if the user swipes up/down **inside** the gallery, it will not scroll the page up and down. Is there some way (or a good way in your opinion) to override this behavior? I would love to be able to keep the swipe left + right but also let the user swipe up/down to scroll the page. Thanks!

[2017-06-23 20:33] lfender6445 commented on #201
closing in favor of https://github.com/xiaolin/react-image-gallery/pull/206

[2017-06-23 20:33] #201 closed

[2017-06-24 00:20] xiaolin commented on #205
I'm not able to replicate this. I'm able to scroll up and down while touch is inside the gallery using the [demo link](http://linxtion.com/demo/react-image-gallery)

I'm using ios on chrome, and safari

[2017-06-24 00:21] xiaolin commented on #199
@jahglow you can override the icons using css, and the provided functions.

[2017-06-24 00:21] #199 closed

[2017-06-24 00:24] xiaolin commented on #203
released in version 0.8.3

[2017-06-24 00:24] #203 closed

[2017-06-24 00:24] xiaolin commented on #200
released in version 0.8.3

[2017-06-24 00:24] #200 closed

[2017-06-25 10:10] Arsolio commented on #203
Thank you very much!

[2017-06-26 14:27] vugman opened #207 "Disable animation for image description"
Is it possible to disable the description being part of the slide animation?

[2017-06-26 14:29] vugman opened #208 "Infinite sliding doesn't slide in the right direction when there are only two images"
I have a image gallery that has only two images.
When clicking on the right arrow on the second image the image slides right and not left.

[2017-06-27 13:09] delacalera commented on #196
Hi @xiaolin ,
I've been doing a bit of research and have possible solution for this issue.
There's a conditional that must be extended in order to prevent this behaviour.
In line 640 need to change

`if (this._thumbnails.scrollWidth <= thumbnailsWrapperWidth ) {`

For

`if (this._thumbnails.scrollWidth <= thumbnailsWrapperWidth || thumbnailsWrapperWidth <= 0) {`

I've commited the source code with

[2017-06-30 14:04] xiaolin commented on #207
What do you mean by that? The image description is attached to the slide, I'm not sure what it means to disable it.

[2017-06-30 14:05] xiaolin commented on #205
Let me know if you are still having this issue, otherwise i'll be closing this issue soon.

[2017-07-09 00:03] recurrence commented on #205
I've hit this issue as well.  I'll see if I can figure out what is going on here.

[2017-07-11 22:50] xiaolin commented on #207
Did you solve your issue? If so I'll close this soon.

[2017-07-18 02:22] sunny635533 opened #211 "react-native: Expected a compenent class ,got [object object]"
## When i import it,always has this errror: "Expected  a compenent class ,got [object object]".I don't know why,please tell me ,thanks.
## I want to add it with  React native, maybe this library should uesd in React ,not RN?
`
import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View
} from 'react-native';

import ImageGallery from 'react-image-gallery';
// var

[2017-07-18 14:02] xiaolin commented on #211
This library is not compatible with react native. Sorry 😞

[2017-07-18 14:08] xiaolin commented on #211
I wonder if there is a polyfill for these type of thing. Basically elements like `div` are unrecognized in react-native.

[2017-07-18 17:23] ajmajma commented on #205
@recurrence I am using for my layout outside of the image gallery, are you as well? I am guessing that may be the issue.

[2017-07-18 17:24] recurrence commented on #205
Hi @ajmajma Have you tried upgrading to the latest point release?  That actually solved the problem for me but I am unable to point to exactly why :)

[2017-07-18 17:25] ajmajma commented on #205
@recurrence Will try right now, thanks for the heads up!

[2017-07-18 17:41] ajmajma commented on #205
Yeah upgrading to 0.8.3 fixes this for me. Thanks!

[2017-07-18 17:41] #205 closed

[2017-07-19 03:28] sunny635533 commented on #211
@xiaolin thanks to answer.I feel sorry to hear that.I will use another library.

[2017-07-19 15:48] #211 closed

[2017-07-20 04:54] Gangezilla commented on #207
Hey @xiaolin, I'm trying to work on a fix for this at the moment. I think what @vugman means is that instead of having the description slide with the image, it would look something like this:
![no-slide](https://user-images.githubusercontent.com/8536243/28400908-92a24bd4-6d59-11e7-9f9c-2f2ac33b563a.gif)

instead of looking like this:
![slide](https://user-images.githubusercontent.com/8536243/28400

[2017-07-25 20:37] smilingpigs opened #215 "Images of bigger resolution couldnt be viewed properly when maximised"
Hello there, when uploaded images that are of longer heights, the images couldnt be viewed on a whole in the maximised mode, is there anyway I can scroll these images or set a standard width and height for these images when maximised?

[2017-07-26 14:11] xiaolin commented on #215
You can override the styles with css to limit the height of your images.

[2017-07-26 14:14] smilingpigs commented on #215
By defining the style to 'originalClass'? This 'originalClass' refers to the original image right?

[2017-07-26 14:15] xiaolin commented on #207
If I'm understanding right, you want the ability to have one standard text for the entire gallery?

If so you should be able to position an absolute element outside the gallery.

[code]

[2017-07-26 14:20] xiaolin commented on #215
Yes

[2017-07-26 14:20] smilingpigs commented on #215
Thanks

[2017-07-26 14:20] #215 closed

[2017-07-26 15:49] dsslimshaddy opened #216 "Height not responsive with thumbnail position to right or left"
https://www.webpackbin.com/bins/-KpzYTrHql80yU8r49US

[2017-07-27 21:50] traceur91 opened #217 "Flying image, when trying back from 2+ image to first one."
When I'm looking at second or further image in the gallery and when I'm going back to first one, by clicking on thumbnail or dot, there is an odd 'flying image' visible at first plan.

[2017-07-28 14:57] xiaolin commented on #216
Its difficult to handle images with varying height and width. The gallery assumes consistent height, and I leave it up to the user to modify the css to fit their own needs.

I suggest formatting your images all to a consistent height, and width.

[2017-08-03 15:03] #216 closed

[2017-08-03 15:04] #207 closed

[2017-08-10 11:34] varrant opened #218 "Put forward a little advice."
提出一点意见。
1.能否加一个旋转图片的功能？
2.图片加载完之前，用loading小图标显示，是否更好？
3.图片的拉伸是按比例拉伸的吗？

Put forward a little advice.
1. Can you add a function to rotate the picture?
2. Before loading the image, use the loading icon to show that it is better?
3. Is the stretch of the picture drawn in proportion?

[2017-08-12 13:21] xiaolin commented on #218
**What do you mean by this? Rotate upside down?**

**That seems like a good feature, I will consider adding this when I get some time.**

**All images, are set to 100% width of the container, so it will be in proportion.**

[2017-08-14 01:07] varrant commented on #218
rotate 90  degree or other self-defined degree  from Clockwise or counterclockwise。

[2017-08-22 11:00] pipzpadilla opened #220 "customize animation"
can i change the animation instead of x or y axis can i change it for fade effect?

[2017-08-30 21:08] nishtacular commented on #166
@xiaolin @solancer I tried adding the above css however, the image still slides in, i can see the image sliding out fading out. How can I replace the slide with the fade action. Appreciate any pointers.

[2017-08-31 01:35] xiaolin commented on #166
@nishtacular you can adjust the transition to only transition on opacity removing the transform transition.
[code]
This will remove the slide effect.

[2017-08-31 01:56] solancer commented on #166
@xiaolin I've been experimenting with GASP and React and it seems to work flawlessly. By porting react-image-gallery's animation bit to GASP can make things very easy and extensible.

The main issue with the current setup is that css transitions cannot be combined and css keyframes animations are sh**t because it can't be declared and applied to an element on the fly. Even Reactjs -animations & Ra

[2017-08-31 02:00] solancer commented on #220
A duplicate of #166

[2017-08-31 02:02] xiaolin commented on #220
@pipzpadilla please see #166 for a solution for fade in effect

[2017-08-31 02:02] #220 closed

[2017-08-31 02:10] xiaolin commented on #166
GSAP looks pretty cool, I'll take a look into adding more animations to the library when I get a chance.

[2017-08-31 02:27] xiaolin commented on #166
@solancer I'm curious what kinda issues you're having with keyframes? I was able to add keyframes using css and got some simple animations going

![3lyt6r](https://user-images.githubusercontent.com/1286776/29903528-53398982-8dd2-11e7-8d2e-ccd3c52bf3d9.gif)

[code]

[2017-08-31 02:38] xiaolin commented on #218
Sorry, rotating images is out of the scope of the gallery so I won't be adding it.

[2017-08-31 02:41] solancer commented on #166
the project I'm working is a bit more complex, can't have classes or id selectors, only inline styling on refs. The problem with keyframes is that it needs to be applied onto an element to work. GASP is the only thing that helped me do what I had intended.

![screen shot 2017-08-31 at 8 10 07 am](https://user-images.githubusercontent.com/800668/29903918-fd0a26d2-8e23-11e7-87a1-0342dc7a4b33.png)

[2017-08-31 02:41] #218 closed

[2017-08-31 02:43] xiaolin commented on #166
Gotcha, cool. Glad you got it working!

[2017-09-29 10:48] eljusto opened #222 "Strange thumbnails position in fullscreen (useBrowserFullscreen === false)"
Here is a video https://yadi.sk/i/1xTzkUm43NKW5W
I'll try to reproduce it with repo example.

[2017-09-29 13:48] xiaolin commented on #222
Let me know if you can reproduce, this error looks odd to me.

[2017-10-08 10:57] sag1v commented on #83
@xiaolin Nice project! i was following your snippet example here of implementing `renderItem` and it's working nice except one thing that took me a while to figure out.
You are not passing `this.props.defaultImage` to `ImageGallery` and that would lead to a default image in the gallery but an empty image in the thumbnail if the `src` link is broken.
So it should be:
`<ImageGallery items={items} re

[2017-10-13 19:29] xiaolin commented on #222
Closing this, feel free to open if you can reproduce.

Thanks

[2017-10-13 19:29] #222 closed

[2017-10-23 10:46] JMazarati commented on #217
@traceur91 Have you found a solution? I think I've got the same problem when there are four images in gallery and I click on third thumbnail there is 'flying image' (and when back on the first thumbnail - also the same issue but works normally in other cases )

[2017-10-29 20:06] xiaolin opened #225 "Change default control props to off"

[2017-10-29 20:06] #225 closed

[2017-11-01 11:45] witalobenicio opened #227 "First image with last image above when using on smartphone"
<img width="375" alt="captura de tela 2017-11-01 as 08 45 02" src="https://user-images.githubusercontent.com/4964291/32273379-08e840ae-bee1-11e7-99f2-d2727594d2b8.png">

Just like this!

[2017-11-01 15:17] xiaolin commented on #227
I noticed you have different size images which is not automatically supported. I recommend cropping your images to the same dimensions, or use custom css to limit the max width, and height.

[2017-11-02 23:24] JiniHendrix opened #228 "Thumbnails not rendering on page load until i mess with screen width"
In the words of Marvin Gaye, whats goin on?????

[2017-11-03 01:00] xiaolin commented on #228
Maybe something with your build? Its working fine in the demo
http://linxtion.com/demo/react-image-gallery/

[2017-11-03 01:57] JiniHendrix commented on #228
it doesnt work when the thumbnails render on the right or left side of the image. it works fine when they render on the bottom and top. @xiaolin

[2017-11-03 01:59] JiniHendrix commented on #228
Here is my component with props plus an image.
<ImageGallery
          items={images}
          thumbnailPosition="right"
          showFullscreenButton={false}
          showPlayButton={false}
          onSlide={this.handleSlide}
          onThumbnailClick={this.handleThumbnailClick}
        />

<img width="473" alt="screen shot 2017-11-02 at 6 58 29 pm" src="https://user-images.githubusercontent

[2017-11-03 02:17] xiaolin commented on #228
Seems like a css issue on your end, did you debug and see if you can find the element below in your browser debugger?
`<div class="image-gallery-thumbnails">`

[2017-11-03 02:54] JiniHendrix commented on #228
yeah, that element is on the DOM but it's 0 height, although the container that directly contains the images is properly rendered with all the images. I've been trying to use a workaround by setting the height manually after the gallery renders, but the scroll offset is not correct.

[2017-11-03 02:59] JiniHendrix commented on #228
Nope can't find anything messing with the styling of that element.

[2017-11-03 17:26] JiniHendrix commented on #228
I just isolated the problem actually, and it's this. when I hardcode image urls it works fine, but when I load images from a backend the image-gallery-thumbnails element height is 0.

I suspect this is because the the height of that element is being set while the images are being fetched, and since no image is rendered in the main display and the element's height is being set from the main display

[2017-11-03 17:31] JiniHendrix commented on #228
my workaround is to conditionally render the ImageGallery component with the image array.length as the condition.

[2017-11-03 17:31] #228 closed

[2017-11-04 00:56] xiaolin commented on #208
fixed in version 0.8.4

[2017-11-04 00:57] xiaolin commented on #217
fixed in version 0.8.4

[2017-11-04 00:57] #217 closed

[2017-11-06 03:49] #227 closed

[2017-11-06 03:54] xiaolin commented on #187
Closing this as 1, 2, and 3 lacks formal requirements. Please open a PR with changes if there are further accessibility issues

[2017-11-06 03:54] #187 closed

[2017-11-06 03:56] xiaolin commented on #76
Closing this as its a feature enhancement related to PR #189

[2017-11-06 03:56] #76 closed

[2017-11-06 04:05] xiaolin commented on #185
Opening the option to add `onMouseOver`, and `onMouseLeave` as props to slides and closing this.

[2017-11-06 04:05] #185 closed

[2017-11-06 04:07] xiaolin commented on #196
This has been fixed.

[2017-11-06 04:07] #196 closed

[2017-11-09 16:52] kamui opened #229 "Swiping vertically is being detected as a horizontal swipe"
With the latest flick detection change in 0.8.4 and 0.8.5, vertical swipes going down are now being detected as horizontal flicks unless the swipe is _exactly_ vertical. If it's offset by a little bit, it'll still trigger the slide swipe.

So every time you swipe to scroll the page, if there's a carousel in the frame, it'll scroll the carousel.

[2017-11-09 17:23] xiaolin commented on #229
Thanks for reporting this. I was using `preventDefaultTouchmoveEvent={true}` which prevented the scrolling of the page when touching inside the gallery, and didn't notice the odd behavior when it was off. Will look into this.

[2017-11-12 06:22] #229 closed

[2017-11-22 23:33] saussayjesica opened #230 "strange animation when holding down the arrow key"
I've noticed a strange behaviour when the slide transitions if you continuously hold down the arrow key. Sometimes the next slide doesn't slide into screen. It just appears with no animation. Other times, the next slide appears to have been loaded underneath the current slide so the animation looks odd

![media-gallery-issue](https://user-images.githubusercontent.com/26707526/33153843-786d503c-d03

[2017-11-26 02:17] slane2016 opened #231 "lazy loading - preload images"
Hi - Can't figure out how to preload a certain number of images to ensure no performance lags w/ lazy load. Any ideas?

[2017-11-30 22:20] saussayjesica commented on #230
@xiaolin this only seems to occur when infinite is set to true

[2017-11-30 22:39] xiaolin commented on #231
We currently don't have a feature to preload a certain number of images.

[2017-12-01 00:25] saussayjesica commented on #230
@xiaolin adding an extra 100ms to _onSliding seems to help
 ` _onSliding = () => {
    const { isTransitioning } = this.state;
    window.setTimeout(() => {
      if (isTransitioning) {
        this.setState({isTransitioning: !isTransitioning});
      }
    }, this.props.slideDuration + 100);
  };`

[2017-12-01 00:58] shudson250 opened #234 "Unable to get working with Webpack3, React 16, Typescript, soln to modify package.json"
Using Webpack 3.5.1, React 16 and Typescript, I am unable to get a basic example to work. My import statement seems to import the css file instead of the js file. I feel that the codebase shouldn't rely on correct user loader settings, but instead be more specific on which file is the main file by specifying it in the package.json.

Code:
[code]

Results in error
`
Element type is invalid: expecte

[2017-12-04 01:02] xiaolin commented on #230
@saussayjesica I think adding 50ms should be enough too. Feel free to open a pr.

[2017-12-07 21:09] caiobatis opened #237 "Loading images"
Do we have some way of having a loader while loading images?

[2017-12-07 21:58] xiaolin commented on #237
You can use the `onImageLoad` callback function.
You would need to add the loading spinner yourself and add a `onImageLoad` callback to remove it.

[2017-12-07 23:29] caiobatis commented on #237
thanks man

[2017-12-07 23:34] caiobatis commented on #237
thanks @xiaolin

[2017-12-08 13:23] kallebornemark commented on #96
@xiaolin I'm trying to figure this out. Want to help?

I'd like it to be able to display N (say 2) images at a time. Something like this:
![image](https://user-images.githubusercontent.com/10062735/33767710-2e562888-dc23-11e7-925d-c5be6d54d4ba.png)

[2017-12-08 15:08] xiaolin commented on #96
@kallebornemark Using css will allow you to display 2 images at a time, however the slide function still only slides 1 at a time.

[code]

[2017-12-11 06:20] MarcelMitzkus opened #238 "Question regarding heic / renderThumbInner"
Hello,

i've two questions regarding the component.
Will heic be supported ?
Can anyone provide an example where renderThumbInner is passed as a prop to ImageGallery. With some modification. My goal is to render a checkbox on the thumbnail.

Thanks in advance.

[2017-12-14 04:30] #237 closed

[2017-12-14 04:31] #231 closed

[2017-12-14 04:39] xiaolin commented on #234
Feel free to open a pr to update the main to be explicit of file extension

[2017-12-16 17:27] xiaolin commented on #238
@MarcelMitzkus

* Will HEIC be supported?
Once browsers support it, sure.

* Can anyone provide an example where renderThumbInner is passed as a prop to ImageGallery. With some modification. My goal is to render a checkbox on the thumbnail.
Take a look at the `renderItem` function example, it is very similar.

[2017-12-16 17:27] #238 closed

[2017-12-16 17:28] xiaolin commented on #234
I've updated the target to be a specific .js file

[2017-12-16 17:28] #234 closed

[2017-12-16 17:29] xiaolin commented on #230
closing via #235

[2017-12-16 17:29] #230 closed

[2017-12-18 17:01] qwe75300 opened #241 "About full screen thumbnails and navigation"
Hello Xiaolin
This image gallery is Great, thank you

How to hide thumbnails and navigation, and then display them in full screen?
showNav and showThumbnails changed to false, including the full screen will be hidden, but I want that the full screen is displayed

[2017-12-18 21:22] xiaolin commented on #241
There is a `fullscreen` class added to the gallery when its in fullscreen.
You could use css to hide/display the navigation and thumbnail as an option.

(not tested)
[code]

[2017-12-19 14:18] qwe75300 commented on #241
Thank you, my problem has been solved!

[2017-12-19 16:49] #241 closed

[2017-12-23 22:11] jrock17 opened #242 "Extra controls in thumbnails tray"
I'm seeing a second set of controls (play button and full screen button) in my thumbnails tray. I have the play button disabled (which works above). But I don't want these duplicate buttons in the thumbnails tray.

Any thoughts?
![2017-12-23_14-09-13](https://user-images.githubusercontent.com/1270524/34322986-1f49eb58-e7eb-11e7-9b83-819779545256.jpg)

[2017-12-27 03:20] wissog opened #243 "How to support usage in an rtl language?"
Hey,
currently when applied in an rtl language page/div, the scrolling and thumbnails direction remains LTR.
is there any support for this which i've missed? :)

[2017-12-27 03:40] xiaolin commented on #243
Whats LTR?

[2017-12-27 03:44] xiaolin commented on #242
That is odd the controls only render once, I'm unable to replicate.

[2017-12-27 07:18] sag1v commented on #243
@xiaolin
LTR -> Left To Right
RTL -> Right To Left
I was about to open an issue about `RTL`  support and noticed this issue was opened 4 hours ago 😄

[2017-12-28 01:01] jrock17 commented on #242
My bad, user error. Turns out I was calling the component twice.

Thanks for the reply!

[2017-12-28 01:01] #242 closed

[2017-12-28 06:55] wissog commented on #243
😂
When used in rtl, the thumbnails when they're on top, still run ltr and
also image scrolling remains ltr

On Dec 27, 2017 09:18, "Sagiv ben giat" <notifications@github.com> wrote:

[2017-12-28 20:07] caiobatis opened #244 "Swipe problems"
I'm trying to use Swipe to pass the slides but the disableSwipe property does not work. Nor in the example: http://linxtion.com/demo/react-image-gallery/

[2017-12-28 20:23] xiaolin commented on #244
`disableSwipe` removes the swipeable feature from the gallery and its working for me. Are we talking about the same thing here?

[2017-12-28 21:19] caiobatis commented on #244
I'm trying to use the swip, to pass the images on the mobile. I tested the example and it did not work

[2017-12-28 21:33] xiaolin commented on #244
Can you show me an example screen shot of what you mean?

[2017-12-29 00:41] fawaz-ahmed opened #245 "Thumbnails not sliding or keeping in center"
When there are alot of thumbnails, they are out of focus for the later ones.

example, in my screen width only 5 thumbnails are shown, but in the list there are 7 thumbnails.
The last 2 will never be shown.

[2017-12-29 00:43] #245 closed

[2017-12-29 00:44] fawaz-ahmed commented on #245
It was working fine when I rechecked. My mistake.

[2018-01-01 15:00] sag1v commented on #243
@xiaolin did you understand the issue mate?

[2018-01-01 15:19] caiobatis commented on #244
![screen shot 2018-01-01 at 13 17 14](https://user-images.githubusercontent.com/9372750/34468725-3bfe533a-eef6-11e7-8b9a-e1c937c7701c.png)
<img width="350" alt="screen shot 2018-01-01 at 13 16 54" src="https://user-images.githubusercontent.com/9372750/34468726-3c243014-eef6-11e7-902b-11221fb4640b.png">

I want to be able to move to the next image using Swip.

[2018-01-01 16:31] xiaolin commented on #243
From what I gather the ideally the thumbnails should support RTL languages. In terms of `showIndex` that can be modified using css to be anywhere you like.

[2018-01-01 16:33] xiaolin commented on #244
Are you saying the swipe feature is not working on your phone?

[2018-01-02 13:39] caiobatis commented on #244
Thanks, I solved with CSS properties, the component is perfect

[2018-01-02 13:44] #244 closed

[2018-01-02 14:48] wissog commented on #243
Yes, and also the traversal on the images should be the opposite way from
right to left

On Jan 1, 2018 18:31, "Xiao Lin" <notifications@github.com> wrote:

[2018-01-02 15:41] xiaolin commented on #243
@wissog So the sliding of images should change from LTR -> RTL, and from RTL -> LTR?

[2018-01-02 15:49] sag1v commented on #243
@xiaolin i think the index should change as well. the counting is backwards.
For example it shows `1/5` instead of `5/5`

[2018-01-02 15:54] xiaolin commented on #243
Yes, if the last image starts first, the index should show 5/5.

[2018-01-03 01:05] wissog commented on #243
yea exactly, that's the point of RTL 😁
e.g. the left slide button should move to next image and the right button
should move back.

*Gabi*

*"What R we living for?" :)*

On 2 January 2018 at 17:54, Xiao Lin <notifications@github.com> wrote:

[2018-01-03 06:16] BigEagleWY opened #246 "how to play a audio?"
I know that this component can play a video,but how to add a audio to play

[2018-01-04 20:35] jorrit commented on #96
This works, however while sliding right, the new slide is blank for a short while. I guess this is because under normal circumstances this slide is not yet visible. Is there anything I can do to make this slide load earlier?

[2018-01-04 20:37] xiaolin commented on #96
If you turn off `lazyLoad` all the slides should load.

[2018-01-04 21:12] xiaolin commented on #246
Take a look at `renderItem` function similar to how we render videos. You can customize what you want the slide to look like.

[2018-01-05 10:49] jorrit commented on #96
It still happens for lazyLoad = false. The problem seems to be that the slide is not added soon enough when infinite is on, because of this code:

[code]

[2018-01-05 12:17] jorrit opened #247 "Allow mouse swiping"
react-swipeable supports the `trackMouse` prop so desktop or hybrid device users can swipe using the mouse instead of touch. Could this property be exposed by react-image-gallery? It is simple so I could make a PR, but I would like to know if you like a on-by-default behavior or off-by-default.

[2018-01-06 02:09] MarioAraya commented on #247
You already can swipe with mouse, on Chrome at least, just make sure you are in "mobile device mode" in the Chrome Developer Tools

[2018-01-06 02:37] MarioAraya opened #248 "Question, ¿How can I pass another array of ImagesUrls[] to loop, not listed in thumbnails?"
Hi, congratulations for your beautiful code,

please ¿can you help me to loop through a list of images not initially added to the this.images property? I don't know where to begin

Thanks!

[2018-01-06 04:45] xiaolin commented on #248
I'm not sure what you mean, I would try

[2018-01-06 08:19] jorrit commented on #247
That is right, swiping with the mouse works in emulate mode. With `trackMouse` it will also work when not emulating so regular desktop users can use it as well.

[2018-01-06 21:28] xiaolin commented on #247
I tried the `trackMouse` feature awhile back and it does not work well. The drag/hold is a bit bugging when trying to swipe through images.

[2018-01-07 08:47] jorrit commented on #247
I noticed that too, but I thought it was better than nothing.

[2018-01-10 05:22] MarioAraya commented on #248
I do it in a different way, just instantiating multiple times with different images[]

thanks anyway.

[2018-01-10 05:22] #248 closed

[2018-01-10 07:00] ryan-ds17 opened #249 "Pass blob in original prop"
Is it possible to pass a blob in the `original` prop?

[2018-01-10 16:35] xiaolin commented on #249
if you overwrite the `renderItem` function you can pass in anything you like.

[2018-01-25 15:27] #249 closed

[2018-01-25 15:27] #246 closed

[2018-01-28 08:19] smoleniuch opened #250 "Can original/thumbnail url accessors be changed?"
Hi,
First of all, thank you for the awesome work!

I was wondering if there is any way to change url accessors for items property.

If i would like to get original url i would change it through props like this:

[code]
Can something similiar be done through existing api?
Is it worth of implementing in future if there is no way this can be done right now?

I know you can map items before passing it

[2018-01-29 15:37] xiaolin commented on #250
I don't think something similar can be done through existing api. I don't believe this feature is worth implementing as most users would not have an existing array of images that you have.

[2018-01-29 15:54] smoleniuch commented on #250
I know that they will not have same structure of images as in the specified example.If im fetching images from external source i would have to map through them and update them according to react-image-gallery component needs.

Maybe im just overthinking, i will close it.

[2018-01-29 15:54] #250 closed

[2018-01-29 15:56] xiaolin commented on #250
Yeah, mapping through the external source to update the fields should be really quick. I wouldn't worry too much about it.

[2018-02-01 05:46] mansern opened #251 "Video Support"
There should be video support just like images. On clicking the video screenshot, video should be played. Anyone working on this thing?

[2018-02-01 15:06] xiaolin commented on #251
I'm not sure what you mean, the demo shows an example of video support. There is also sample code showing how to implement a video slide.

[2018-02-02 22:32] xiaolin commented on #247
Will be closing this as the `trackMouse` prop on `react-swipeable` does not function well.

[2018-02-02 22:32] #247 closed

[2018-02-05 12:23] ivarne commented on #162
I think i solved a similar problem with

[code]

[2018-02-05 16:30] #251 closed

[2018-02-05 16:30] xiaolin commented on #251
Closing, feel free to open if this does not solve your issue.

[2018-02-05 16:31] mansern commented on #251
It's fixed. Thanks.
On Feb 5, 2018 9:30 PM, "Xiao Lin" <notifications@github.com> wrote:

[2018-02-10 13:01] gadzhimari opened #252 "Set size of height based on width"
Hi. I wanna say thank you for great library. I have one question. Is any possibilities to set height the same size as a width(for example 400x400 and etc.) I mean to do those as square. Not statically set size through the css. Maybe I should add own method as a props in original source code and listen handleResize method.

[2018-02-14 11:30] carlolucadei commented on #97
@xiaolin I'm using it, but I agree with @smancang. It could be better to include the font file within this package in order to avoid any kind of issue related to a missing internet connection (this is my case: my application is hosted inside a server that could has a internet connection since it's only for internal porpouse). Please let me know.

Best regards

[2018-02-14 13:07] saleemnasa opened #253 "Can I start slider with the specific image from images array?"
I have an array of images in a list, When a user selects an image I need to show image slider with the selected image opened. But in this the slider is starting from the first image. Anyone to help?

[2018-02-15 03:38] xiaolin commented on #252
Hmm, I'm not 100% sure what you mean. Do you have different image sizes and want to keep them all the same height as their width?

[2018-02-15 03:39] xiaolin commented on #253
You can use the `startIndex` prop to set a different index other than `0`.

[2018-02-15 05:43] saleemnasa commented on #253
That's awesome, thanks for your help and Everything is working well.

But after loading image slider with _startIndex_ other then 0 the thumbnail's list is moving to left and coming to its normal place. Can you help me fixing this too?

[2018-02-15 07:21] gadzhimari commented on #252
No, I want to set all a wrapper of image set height as the same as width.

[2018-02-15 11:26] saleemnasa commented on #253
_disableThumbnailScroll_={true}
worked after I use this prop
Thank You

[2018-02-15 11:26] #253 closed

[2018-02-15 11:59] rajeshnagireddy opened #254 "Images should not slide if user tries to navigate inside a text on the same page"
There was a text box on the same page, if user tries to navigate inside the text box  images should not slide

[2018-02-17 14:00] willrp commented on #136
This issue still happens to me. I'm using react-router too, and react-image-gallery 0.8.7.
The warning is displayed only when I hit back, hence unmounting the parent component where the image-gallery is, while a transition is happening. I suppose that the image-gallery parent component triggers componentWillUnmount(), and, since a transition is happening, the state from the image-gallery is changi

[2018-02-17 23:57] xiaolin commented on #254
please see comments in #255

[2018-02-17 23:57] #254 closed

[2018-02-23 08:12] Nehved opened #257 "Main slider doesnt render"
Hi, I have the component with react-image-gallery. Here is my code https://gist.github.com/Nehved/fa8287b9d70e85e32b457be6d4a8b2c7.
I have problem with rendering only thumbnails pictures, without main slider. Any ideas?

[2018-02-23 08:48] #257 closed

[2018-02-27 05:36] Adamkzh commented on #252
Really nice library.
Is there any way to resize the image in the library??  like change the height and the width of the gallery?

[2018-02-27 18:01] #252 closed

[2018-03-02 01:52] vnallamhawk opened #258 "styles not getting applied"
Hi Team,

The styles are not getting applied.I am trying to achieve it by importing the following import '../../node_modules/react-image-gallery/styles/scss/image-gallery.scss';. i am getting module not found error.

[2018-03-05 17:31] DragosRotaru commented on #258
+1

[2018-03-06 08:16] vichal opened #259 "How to get the index when the image is clicked"
I added onClick event but was not able to get the index of the clicked image in the event parameter, how should I do to get the index of the clicked image?

[2018-03-06 15:38] xiaolin commented on #259
please see `getCurrentIndex` in docs

[2018-03-06 15:46] xiaolin commented on #258
I would check your path to make sure `react-image-gallery` is actually in `../../node_modules/react-image-gallery/`. This seems like a  build issue, and not related to `react-image-gallery`, are you using Webpack?

[2018-03-06 17:08] 7h3m4dS0u1 opened #260 "How to load component with fullscreen enabled?"
First thanks for your work, this is a great component.

I'm trying to start it in fullscreen, but with no success.
I tried this approach:

[code]
The class "fullscreen" is applied by fullScreen() function, but nothing change.
The console warn:
_image-gallery.js:482 Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture_

Do you have any idea?

thanks

[2018-03-06 21:36] DragosRotaru commented on #258
Im using webpack and sourcing the file correctly yet it's not being
loaded.  I've tried both css imports and ES6 imports.

On Tue, Mar 6, 2018 at 10:46 AM, Xiao Lin <notifications@github.com> wrote:

[2018-03-11 05:04] xiaolin commented on #260
I have not seen this issue before. Does the demo page fullscreen button work for you?

[2018-03-11 11:50] 7h3m4dS0u1 commented on #260
Yes the demo is ok. But i think i didn't explain myself well...

My goal is that the first thing to appear on the page is the fullscreen gallery, without having to click a button. The page will only have the fullscreen gallery, nothing more.

[2018-03-14 08:29] EdwaRen opened #261 "Example appears to constrict image media to fixed height"
This looks like one of the nicest gallery packages I have seen, however, I have been running into some issues getting the gallery to properly size images. I've copied the example shown in the readme nearly word by word but the end results constrict the entire gallery to a small fixed height. My code is below

[code]

The end result is something like the following where the image is squeezed into a

[2018-03-16 03:25] xiaolin commented on #260
The fullscreen takes over the entire user screen so it needs to be prompted by a user. See
https://stackoverflow.com/questions/29281986/run-a-website-in-fullscreen-mode

I think what you might want instead is to set prop `useBrowserFullscreen` to false. Then your function call should work. This property when set to `false` uses CSS to create a fullscreen effect and not the native fullscreen API.

[2018-03-16 03:27] xiaolin commented on #261
@EdwaRen What version of react-image-gallery are you on? Based on your screenshot it seems to be an older version.

[2018-03-16 03:31] xiaolin commented on #258
This seems like an issue with your webpack setup. I'm currently using webpack with this library and its working as expected.

[2018-03-16 03:32] xiaolin commented on #258
Feel free to reopen if you can provide an example that can be reproduced.

[2018-03-16 03:32] #258 closed

[2018-03-16 03:33] #259 closed

[2018-03-17 05:05] jiyeon-dino opened #262 "image-gallery-left-nav sometimes cant show , only a whitebox"

[2018-03-17 05:06] jiyeon-dino commented on #262
the left and right button

[2018-03-19 04:19] 7h3m4dS0u1 commented on #260
Sure! This make sense.
Thanks.

[2018-03-19 04:19] #260 closed

[2018-03-28 09:08] mbricks opened #263 "bullet: Why is this case? How to solve？"
![tim 20180328170300](https://user-images.githubusercontent.com/29054045/38019564-7b5d49d0-32aa-11e8-9bdc-1a8677c52537.jpg)

[2018-04-04 13:12] JelenaRasic opened #264 "Add index to onThumbnailError"
Can you add the index of the faulty thumbnail next to the event so each thumbnail can be handled separately?

[2018-04-05 21:26] xiaolin commented on #264
Hi you can override the `onThumbnailError` function by passing it in as a prop. Please see docs.

[2018-04-05 21:26] #264 closed

[2018-04-10 12:41] rajeshnagireddy opened #265 "Can you provide an option to zoom the image?"
Actually i'm using for documents slider, sometimes we may to zoom in the image for more clarity

[2018-04-10 17:56] xiaolin commented on #265
I suggest using another library that handles zooming ability and override the `renderItems` property to wrap your images with the zoom functionality.

[2018-04-10 17:57] xiaolin commented on #263
Looks like a css issue to me. Were you able to resolve?

[2018-04-10 17:58] xiaolin commented on #262
closing this as it relates to #97

[2018-04-10 17:58] #262 closed

[2018-04-11 09:20] oc-shady opened #266 "Thumbnail Bar Position: right, the thumbnails wrapper height : 5px !"
1、set the "Thumbnail Bar Position": "left"
2、document ready => thumbnails images loading => thumbnail wrapper height: 5px
3、document ready => thumbnails images loaded => thumbnail wrapper height still : 5px
-_-

[2018-04-12 00:54] #263 closed

[2018-04-12 00:55] #261 closed

[2018-04-12 00:55] #265 closed

[2018-04-12 00:56] xiaolin commented on #266
I'm not sure what this means, can you show me a screenshot of the issue?

[2018-04-19 09:22] LaurentHellebrandt opened #267 "Thumbnails not aligned correctly when items.length changes"
After every slide I do the following
[code]
This means that while the user is still sliding through the images the `items` property of the `ImageGallery` is changing. After every `onLoadMore()` there a `n` more objects in the `items` array. The state property `thumbsTranslate` is getting adjust correctly but the thumbnails does not get repositioned.
This leads to that after a while the selected th

[2018-04-24 01:28] hartzis opened #268 "react-swipeable preventDefaultTouchmoveEvent clean up"
Heyo!

was going through dependants of [react-swipeable](https://github.com/dogfessional/react-swipeable) and found your lovely library.

I noticed that you needed to do some interesting things to allow the `preventDefaultTouchmoveEvent` to work:

https://github.com/xiaolin/react-image-gallery/blob/e5171084663fa0e2d6d91a0b92708f634cf079d8/src/ImageGallery.jsx#L1115-L1118

So i created a PR https:/

[2018-04-25 09:44] giuliagworld opened #269 ""sizes" prop is not working"
Hi, I am trying to set a width and a height for the <img> tag but the "sizes" prop doesn't seem to be working.

Here's the code:

`let images = [
  {
    original: 'https://c5.staticflickr.com/9/8768/28941110956_b05ab588c1_b.jpg',
    sizes: {
      width: 100,
      height: 100
    }
  },
  {
    original: 'https://c3.staticflickr.com/9/8583/28354353794_9f2d08d8c0_b.jpg',
  },
  {
    original: '

[2018-04-25 18:37] xiaolin commented on #269
`srcSet` and `sizes` are <img> element attributes, see
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img

[2018-04-25 18:38] xiaolin commented on #268
Amazing, thank you!

[2018-04-25 19:14] xiaolin commented on #267
When you load more images, are you updating the `items` property on `ImageGallery`?

[2018-04-25 19:15] xiaolin opened #270 "remove unsafe lifecycles"

[2018-04-30 02:25] #269 closed

[2018-05-01 09:30] VentroArt opened #271 "Thumbnail sliding issue when using images with with varying width"
How can i to control/set the distance for swiping?
I'm asking because right now my thumbnails images have different width and  after i do a  few scrolls the active thumbnail goes away from display.
The main goal is have opportunity to set active thumbnail to center of thumbnail panel and solve the problem that was described above.
Here you can see example of issue before thumbnail disappear from d

[2018-05-03 07:49] LaurentHellebrandt commented on #267
Yes

[2018-05-04 05:16] xiaolin commented on #271
The distance the thumbnail slides is based on the thumbnail container width / total thumbnails.
If you adjust the thumbnail container it will adjust the scroll distance too.
[code]

[2018-05-04 05:28] xiaolin commented on #271
Right now it assumes thumbnails to be equal in width, so may be worth adding a feature to support various size thumbnails.

[2018-05-06 19:36] michalklim commented on #266
@xiaolin I believe I'm facing this same issue. The problem is that sometimes (most often when the cache is empty) on gallery load `.image-gallery-thumbnails-wrapper left` is having `style="height: 5px;` attribute. After refresh, everything seems to work fine

Please let me know if you need some more info

[2018-05-09 08:02] giuliagworld commented on #269
Thanks a lot @xiaolin !

[2018-05-09 16:46] Mrezagolbaba opened #272 "thumbnail width and height"
how to defind thumbnail width and height?

[2018-05-10 14:23] jaisonjjames opened #273 "Auto sliding for hover on the main image"
Nice image gallery. May I know is there any feature exist like sliding start on the hover of the large image itself and stop on the mouse leave. Because as per my requirement there is no need for any thumbnail or arrow navigation etc.

[2018-05-11 03:05] xiaolin commented on #266
@michalklim I'm not seeing this issue, and cannot replicate. I've tried loading a large image file and it is working fine. Can you show me the steps to reproduce?

[2018-05-11 03:13] xiaolin commented on #273
That feature does not exists, but you can implement it by adding your own `onmouseover` event listener on the gallery and trigger `play()` or `pause()`

[2018-05-11 03:13] #273 closed

[2018-05-11 03:16] xiaolin commented on #272
See documentation for `renderThumbInner` to customize your own thumbnail rendering needs.

[2018-05-11 03:16] #272 closed

[2018-05-11 12:55] SandMoshi opened #275 "Can this handle relative urls?"
I'm using `import` statements in React to import a local image file and then passing that reference to the gallery as follows:

`import image1 from '../../images/image1.jpg`

 `original: {image1}`

Yet this is not working for me until I change `image1` to a full external url.

[2018-05-13 09:55] michalklim commented on #266
@xiaolin I was just using it with thumbnails wrapper on the left. I'm getting images from the remote resource but the same is doing example app I believe.

I noticed that you are adding a 50ms delay on mount before resizing gallery. In some cases, 50ms delay could not be enough, also debugging that could be hard in this case since so many factors could have an impact on that

[2018-05-13 13:15] jaisonjjames commented on #246
Thanks for the replay, any example available for the custom play button.

[2018-05-13 13:31] jaisonjjames opened #276 "Custom play or pause button"
Any code sample available for custom play/pause button for a hover/ click?

I have tried like below, but no luck.
`<ImageGallery onMouseOver={this.handleHover} play={this.state.play} autoPlay={this.state.play} showNav={false} lazyLoad={true} items={images} showThumbnails={this.state.play} showFullscreenButton={false} showPlayButton={false} showBullets={false} />`

[2018-05-14 10:20] MahmoudI opened #277 "Need to clear the sliding timeout on unmount"
The following timer is causing warning on unmount.
[code]

[2018-05-14 21:35] tadjohnston opened #278 "better lazy loading"
Lazy loading works great, but what I notice is that if i have say 30 images to put into the gallery with lazyLoad turned on, it still creates 2 dom nodes for each image.  See the screen shot.

![screen shot 2018-05-14 at 2 32 17 pm](https://user-images.githubusercontent.com/10748767/40024615-ba78d852-5783-11e8-88eb-0df7e9f0cc29.png)

I don't see the need for all of these. The problem is magnified

[2018-05-15 09:32] vladimir-fsh opened #279 "White space appears between slides when swiping/navigating on mobile browsers"
On the demo page in any iPhone try to swipe or click on next arrow. Every time a next image will appear is empty for short time (~100ms).

[2018-05-15 23:52] xiaolin commented on #276
There is no code sample available for custom play/pause for hover/click but you can fire available functions if you attach a `ref` to the gallery see for reference. https://github.com/xiaolin/react-image-gallery/blob/master/example/app.js for

[2018-05-15 23:52] #276 closed

[2018-05-15 23:55] xiaolin commented on #279
I noticed that and it seems to only be happening on mobile browsers. I'm not sure whats going on there.

[2018-05-16 00:04] xiaolin commented on #275
If the image loads correctly outside the `<ImageGallery />` meaning `<img src={img1}/>` then it should work. The library itself does not handle relative URLs.

[2018-05-16 00:04] #277 closed

[2018-05-16 00:07] xiaolin commented on #266
@michalklim I was able to replicate this after removing the 50ms from the resize function. I'll take a look at your pr #274 and also take a look at whats causing the issue.

[2018-05-16 08:17] vladimir-fsh commented on #279
Probably it happens cause nodes of sliders removed an pushed again

[2018-05-21 23:32] JeffreyLaCroix opened #282 "Add class to image-gallery div when fullscreen"
Is there a way to add a class to the parent div "image-gallery" when full screen is active?
We are trying to add some specific styles when in full screen. We see the class "fullscreen" is added to "image-gallery-content" but would like to target the parent div.

[2018-05-22 10:36] DezChuang commented on #282
I got the same problem too. And I found there is a props called "onScreenChange" and a class called "fullscreen-modal". However, even when I declare the props "onScreenChange" function, it's still not working, so I also wanna know if there is way to solve this issue.

[2018-05-22 15:10] mattwexa opened #284 "Thumbnail wrapper height not set properly if thumbnails load slowly"
Hi there,

this component is great, except for a small bug I noticed. I'm using the images themselves as thumbnails as a starting point, and sometimes this results in the `image-gallery-thumbnails-wrapper` div having a height that is too small (like 26px).

This can be reproduced by having thumbnails that are slow to load (for instance setting the network connection speed to Slow 3G in Chrome). I

[2018-05-23 03:19] datho-wumbo opened #285 "Using styled-components"
It could be great if we use styled-components to handle styling and remove an extra step of importing style use to use this awesome component.

I'm working on a PR :dancing_men:

[2018-05-23 03:20] #285 closed

[2018-05-24 02:34] xiaolin commented on #278
For context, the placeholder slides are there because of #137.

[2018-05-24 02:41] xiaolin commented on #282
Below is a solution to add a wrapper which you can manage.

[code]

[2018-05-24 02:44] xiaolin commented on #284
Duplicate of #266

[2018-05-24 02:44] #284 closed

[2018-05-24 02:46] xiaolin commented on #279
If anyone finds the cause please reopen.

[2018-05-24 03:04] xiaolin commented on #267
https://github.com/xiaolin/react-image-gallery/commit/26489446cfa97b20683304ec010ed1f02f54b4d9 fixes this

[2018-05-24 03:04] #267 closed

[2018-05-24 03:05] #282 closed

[2018-05-24 07:06] mattwexa commented on #284
Oops sorry 🙁 I did search initially for issues before reporting this, but probably not with the right keywords. I changed the title several times, and now I see it's almost identical to the original issue 🙂

[2018-05-24 14:07] xiaolin commented on #284
Haha, I actually changed the title of the original issue because it was very confusing. I ended up copying your title and adjusting it.

[2018-05-24 15:06] tadjohnston commented on #278
Yeah, I guess since we don't need thumbnails right now this fix works for us, but back to the drawing board for me I guess 😄

[2018-05-27 20:33] JairAviles opened #287 "Can't call setState (or forceUpdate) on an unmounted component. Memory leak..."
I have integrated the ImageGallery component as follows. ( I am developing a Meteor web app)

[code]

The object `myObject` contains the following value in the pictures array:

[code]

When rendering the ImageGallery is shown as expected, however when clicking on either the button aria-label="Previous Slide" or aria-label="Next Slide" doesn't show the respective image and throws the following exce

[2018-05-28 19:11] #268 closed

[2018-05-30 08:29] wouterh opened #288 "Uncaught TypeError on unmounting"
Since v0.8.8, when an image gallery is unmounted, an Uncaught TypeError occurs:

[code]

I believe it is introduced by adding the debounce in b273f9d0da94.

[2018-05-30 08:32] wouterh commented on #288
Actually, the `debounce` introduced in b273f9d0da94, fixed the problem on remount, but not on unmount?

[2018-05-31 03:01] xiaolin commented on #288
Hmm, I think adding a `this._initGalleryResizing.cancel`  in `componentWillUnmount` should fix the issue.

[2018-06-04 06:09] nituravi36 commented on #157
i have styled the component like below.
.image-gallery-slide{
  height : 200px;
}
same styles applied when opened in fullscreen also.
how to style normal and fullscreen modes separately?

[2018-06-05 06:55] nituravi36 opened #289 "full screen view and normal view styles"
i have styled the component like below.
.image-gallery-slide{
height : 200px;
}
same styles applied when opened in fullscreen also.
how to style normal and fullscreen modes separately?

[2018-06-05 08:03] VikrantShirvankar commented on #114
facing same issue.

[2018-06-05 08:10] VikrantShirvankar opened #290 "css is not applying(css importing issue)"
unable to import css file in webpack..

this is my webpack conf
![webpack](https://user-images.githubusercontent.com/32485571/40963382-f92e911a-68c5-11e8-97b0-257521651f0b.jpg)

this is the error -
![error](https://user-images.githubusercontent.com/32485571/40963395-067d1080-68c6-11e8-8fec-d5ac3bc7fc51.jpg)

[2018-06-05 09:55] allexysleeps commented on #288
This is actually is reproducing on 0.8.7 as well

[2018-06-05 10:56] #290 closed

[2018-06-05 13:41] VikrantShirvankar opened #291 "is there any option for default full screen mode?"

[2018-06-07 09:36] #291 closed

[2018-06-07 20:18] JairAviles commented on #287
**Update**: Had a reset of component state variables on the componenteWillUmnount method. Removed it, also tried with Meteor Reactive Dict instead of component state variables. The exception remains, though.

[2018-06-08 10:06] #289 closed

[2018-06-08 12:03] albiegrv opened #292 "Autoplay slides direction / Full size <img />"
1. Is there any ability to change direction (reverse) for autoplay mode?
2. Is there any discovered way to use images of different sizes and orientations (horizontal and vertical at the same gallery) and fill container fully? (same as problem in #144)

[2018-06-08 15:42] JairAviles commented on #287
**Solved**: According to [React Official Documentation](https://reactjs.org/docs/react-component.html#componentwillunmount), you should not call `setState()` in `componentWillUnmount` method because your component will never be re-rendered. I finally realize that the problem was with the Parent component that uses MyGallery component. I did a refactor and now works well with version 0.8.7. My bad,

[2018-06-08 15:42] #287 closed

[2018-06-12 14:40] Raja-Sharma commented on #288
@xiaolin Is your proposed fix for a future version of the package?

[2018-06-12 14:48] xiaolin commented on #288
If no PR is opened I'll get to this soon.

[2018-06-13 21:37] stfwoxry commented on #288
I have this problem too... any news about it? I can not find a fix for this

[2018-06-13 21:39] xiaolin commented on #288
How can this be reproduced? Can someone give me a simple example?

[2018-06-13 22:55] C-jeff commented on #288
@xiaolin If I'm not mistaken it happened for me after I've updated React to 16.4. Previously it was fine with 16.2.

[2018-06-13 23:02] stfwoxry commented on #288
I just downgrade to the 0.8.7 and works at least for me!

[2018-06-14 00:18] xiaolin commented on #288
This is fixed in 0.8.9 that was just released.

[2018-06-20 05:07] reeda6 opened #293 "window.removeeventlistener not defined"
Hello,

I followed the instructions verbatim on the npm page yet continue to have this bug and I am not sure why.

import ImageGallery from 'react-image-gallery';

class Home extends React.Component {

render() {
    const images = [
      {
        original: 'http://lorempixel.com/1000/600/nature/1/',
        thumbnail: 'http://lorempixel.com/250/150/nature/1/',
      },
      {
        original:

[2018-06-23 19:45] vyushin opened #294 "Breakdown of layout when thumbnail has a label"
![image](https://user-images.githubusercontent.com/8006957/41813058-1ff8c6ba-7737-11e8-8ebb-646dd97d6a3b.png)

[2018-06-23 20:20] vyushin commented on #294
I fixed it in PR #295

[2018-06-26 14:07] knro commented on #278
This is probably unrelated but how scalable is react-image-gallery? What if I have 1000 images? 10,000? Right now, I'm thinking of dividing very high number of images into "manageable" groups (say 50 images each) and then provide another control to load each consecutive group in the gallery.

But I'd like to know if perhaps the component can already handle large data sets without a performance hit

[2018-06-26 14:15] xiaolin commented on #278
If you're dividing the images into groups of 50 images and loading them only when requested. I don't see any scaling issue the component would run into.

[2018-06-29 14:06] Frexuz opened #296 "Suggestion: adding renderIndex"
I'd like to customize that whole thing, adding an icon infront etc.. :)
That would be nice.

[2018-07-01 04:55] #294 closed

[2018-07-02 21:01] jansohn opened #297 "How to set the renderItem if using react-image-gallery as a separate component?"
I'm not very familiar with Javascript so I hope this is an easy question to answer. I'm trying to put all react-image-gallery related code in a separate file but I'm failing if I try to overwrite the `renderItem` property when trying to show a video.

**App.jsx**

    <PhotoGallery images={[
      {
        thumbnail: `${PREFIX_URL}4v.jpg`,
        original: `${PREFIX_URL}4v.jpg`,
        embedUrl

[2018-07-03 11:17] OZZlE commented on #288
Still same issue in v.0.8.9 .. using a router and switching to another page with a gallery on it (using <Link />)

[2018-07-03 16:48] xiaolin commented on #288
reopening and needs investigation

[2018-07-06 18:29] xiaolin commented on #296
If you're referring to customizing the `showIndex` label you can add your own HTML on top of the gallery and getting the current index by calling `getCurrentIndex()`.

[2018-07-06 18:31] xiaolin commented on #293
Double check your imports. This issue looks to be unrelated to the library.

https://stackoverflow.com/questions/34130539/uncaught-error-invariant-violation-element-type-is-invalid-expected-a-string

[2018-07-06 18:35] xiaolin commented on #293
Seems this was quite an old one, going to close for now.

[2018-07-06 18:35] #293 closed

[2018-07-06 18:36] #296 closed

[2018-07-08 20:11] jansohn commented on #297
That's what I wanted to avoid. I ended up setting the `renderItem` for all image objects with the property `embedUrl` defined in my component like this:

    const images = Object.keys(this.props.images).map((keyName, keyIndex) => {
      if (typeof this.props.images[keyName].embedUrl !== "undefined") {
        return {...this.props.images[keyName], renderItem: this._renderVideo.bind(this)};

[2018-07-08 20:11] #297 closed

[2018-07-08 21:18] jansohn opened #298 "Disable fullscreen icon on special items?"
I'd like to not show the fullscreen icon if showing for example a video slide (as the embedded video has its own controls). But I'd still like to show the fullscreen icon for standard images. Is this possible?

[2018-07-09 11:21] srinivas025 opened #299 "Adding HTML elements in Image Description"
Is it possible to add html to image description

[2018-07-11 15:31] OZZlE opened #300 "srcSet Not working"
imagesArray looks like:

    [{
        original: "image_path", // this one works
        // as string doesn't work
        srcSet: "https://staging-lorem.s3.amazonaws.com/media/catalog/product/cache/small_image/568x/fe048ded4c6db6c6afa45b749bc258ce/3/0/30007351100_st.jpg 1536w",
        // as object doesn't work
        srcSet: {"1986w":"https://staging-lorem.s3.amazonaws.com/media/false","1536w"

[2018-07-12 08:14] OZZlE commented on #300
The problem seems to come from:

    const renderItem = item.renderItem ||
        this.props.renderItem || this._renderItem;

It needs to use `this._renderItem` to add the `srcSet`

[2018-07-14 10:58] mushkin-v opened #301 "1 pixel of the previous and next image"
Hi, thanks for the great gallery!
I tried it on my few pages and I have such issue -
I see 1 pixel of the previous and next image near the middle image.
Can u help?

[2018-07-15 03:49] xiaolin commented on #88
No updates on this so far. If you need lazy loading for thumbnails I suggest implementing a solution where you conditionally add more images to the gallery based on your gallery needs.

e.g.

[code]

[2018-07-15 03:58] xiaolin commented on #300
`srcSet` is not specific to this library. Its a [HTML5 img](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img) property.

It seems you've overwritten `renderItem` and that is why `item.renderItem` will be used instead of `this._renderItem` If you override the render item method you are responsible for handling the item properties yourself. See the documentation for examples.

[2018-07-15 04:01] xiaolin commented on #301
Are you overriding the CSS? Can you provide a screenshot?

[2018-07-15 04:03] xiaolin commented on #299
Not in the library, but if you override the `renderItem` function you can render anything.

[2018-07-15 04:03] #299 closed

[2018-07-15 04:07] xiaolin commented on #298
Take a look at the demo page and [demo file](https://github.com/xiaolin/react-image-gallery/blob/master/example/app.js). I added a layer on top of the video so that I can toggle on and off the fullscreen icon.

You can also adjust the state `showFullscreenButton` when you're on a video slide. You'll need to add logic in your component to detect if its a video slide or not.

[2018-07-16 13:35] joseshiru opened #302 "Scroll thumbnails"
Hi (not sure how to mark this as a feature)

Is it possible to add touch slidding into the thumbnails sections?

Thanks

[2018-07-19 08:59] LXY02 opened #304 "how can I customize the distance of thumbnail scroll ？"
Is there any way that I can customize the distance of thumbnail scroll ？
Look forward to your reply，thank you.

[2018-07-20 02:11] s7dhansh commented on #288
@xiaolin Can't we simply use `if (element) this.resizeObserver.observe(element);` to fix this error? Any repercussions?